﻿@model Parameter

@{
    var parameterPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<tr class="js-parameter" data-html-field-prefix="@parameterPrefix">
    @using (Html.BeginCollectionItem(parameterPrefix + ".Parameters"))
    {
        <td class="col-md-6">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control parameter-input"}})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
        </td>
        <td class="col-md-3">
            @Html.EditorFor(model => model.MaxValue, new {htmlAttributes = new {@class = "form-control parameter-input", min = 0}})
            @Html.ValidationMessageFor(model => model.MaxValue, "", new {@class = "text-danger"})
        </td>
        <td class="col-md-3">
            @Html.EditorFor(model => model.SignificanceFactor, new {htmlAttributes = new {@class = "form-control parameter-input", min = 0}})
            @Html.ValidationMessageFor(model => model.SignificanceFactor, "", new {@class = "text-danger"})
        </td>
        <td class="col-md-3 borderless">
            <div class="btn btn-sm btn-default btn-remove js-removing js-remove-parameter remove-parameter">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
        </td>
        <td class="hidden">
            @Html.HiddenFor(model => model.OrdinalNumber, new {@class = "js-parameter-ordinal-number", Value = 1})
            @Html.HiddenFor(model => model.SectionID)
            @Html.HiddenFor(model => model.ID, new {@class = "js-parameter-id-field"})
        </td>
    }
</tr>