﻿@model Section

@using (Html.BeginCollectionItem("Sections"))
{
    <div class="panel panel-default js-section">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="section-title-block">
            <div class="inline-block section-title">
                @Html.LabelFor(model => model.Name, "Имя раздела: ", new {@class = "control-label"})
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control checkList-input", placeholder = "Имя раздела"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
            <div class="inline-block">
                <div class="btn btn-sm btn-default btn-remove js-removing js-remove-section">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Удалить раздел
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.OrdinalNumber, new {@class = "js-section-ordinal-number", Value = 1})
        @Html.HiddenFor(model => model.ChecklistID)
        @Html.HiddenFor(model => model.ID)

        <div class="js-parameters-block">
            <table class="table table-bordered checklist-parameters-table">
                <thead>
                <tr>
                    <th class="col-md-6">Параметры проверки</th>
                    <th class="col-md-3">Макс. оценка</th>
                    <th class="col-md-3">Значимость</th>
                </tr>
                </thead>
                <tbody class="js-parameters-body">
                @if (Model != null && Model.Parameters == null || Model.Parameters.Count == 0)
                {
                    @Html.Partial("_AddParameter", new Parameter())
                }
                else
                {
                    foreach (var parameter in Model.Parameters.OrderBy(m => m.OrdinalNumber))
                    {
                        @Html.Partial("_AddParameter", parameter)
                    }
                }
                </tbody>
            </table>
            <div class="btn btn-default js-add-parameter">+ Добавить параметр</div>
        </div>
    </div>
}