﻿@model Parameter


<tr>
    <td class="col-md-6">
        @Model.Name
    </td>
    <td class="col-md-3">
        @Model.MaxValue
    </td>
    <td class="col-md-3">
        @Model.SignificanceFactor
    </td>
</tr>