﻿@model Section

<div class="panel panel-default js-section">
    <div class="section-title-block">
        @Model.Name
    </div>

    <div class="js-parameters-block">
        <table class="table table-bordered checklist-parameters-table">
            <thead>
            <tr>
                <th class="col-md-3">Параметры проверки</th>
                <th class="col-md-1">Оценка</th>
                <th class="col-md-1">Значимость</th>
            </tr>
            </thead>
            <tbody class="js-parameters-body">
            @if (Model != null && Model.Parameters != null && Model.Parameters.Count != 0)
            {
                foreach (var parameter in Model.Parameters.OrderBy(m => m.OrdinalNumber))
                {
                    @Html.Partial("_ViewParameter", parameter)
                }
            }
            </tbody>
        </table>
    </div>
</div>