﻿@model Checklist

@{
    ViewBag.Title = ViewBag.Header;
}

<div class="checklist-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "createCheckListForm"}))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="checklist-title-block">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.LabelFor(model => model.Name, "Название чек-листа: ")
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control checklist-input", placeholder = "Название чек-листа"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>

            <div id="section-container">
                @if (Model == null || Model.Sections == null || Model.Sections.Count == 0)
                {
                    @Html.Partial("_AddSection", new Section())
                }
                else
                {
                    foreach (var section in Model.Sections.OrderBy(s => s.OrdinalNumber))
                    {
                        @Html.Partial("_AddSection", section)
                    }
                }
            </div>
            <div id="add-section" class="btn btn-default">+ Добавить раздел</div>
        </div>
        <button class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Checklists")';return false;">
            Вернуться к списку
        </button>
        <input type="submit" value="Сохранить" id="submit-checklist" class="btn btn-success pull-right"/>
        @Html.HiddenFor(model => model.ID, new {@class = "js-checklist-id-field" })
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/cusom.js")"></script>
    @Scripts.Render(Url.Content("~/Scripts/bootbox.min.js"))
}

@section Styles
{
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet"/>
}