﻿@model IEnumerable<Checklist>

@{
    ViewBag.Title = "Перечень чек-листов";
}

<div class="checklist-create-container">
    @Html.ActionLink("Создать чек-лист", "Create", null, new {@class = "btn btn-success checkList-create"})
</div>

<table class="table table-hover checklist-table table-striped table-bordered">
    <thead>
    <tr>
        <th>Название</th>
        <th class="text-center">Действия</th>
    </tr>
    </thead>
    <tbody id="checklist-table-container">
    @foreach (var item in Model)
    {
        <tr class="js-checklist-index">
            <td class="col-md-11 no-padding">
                <a class="checklist-view" href="@Url.Action("View", "Checklists", new {id = item.ID})" title="Просмотр">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td class="col-md-1 no-padding">
                <div class="checklist-action-container">
                    <a href="@Url.Action("Edit", "Checklists", new {id = item.ID})" class="checklist-edit checklist-action" title="Изменить">
                        <span class="glyphicon glyphicon-edit checklist-glyphicon" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="checklist-action-container">
                    <span class="checklist-remove checklist-action js-remove-checklist" title="Удалить">
                        <span class="glyphicon glyphicon-trash checklist-glyphicon" aria-hidden="true"></span>
                    </span>
                    @Html.Partial("_Delete", item)
                </div>
                <input type="hidden" class="js-checklist-id-field" value="@item.ID"/>
            </td>
        </tr>
    }
    </tbody>

</table>

@section Styles
{
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet"/>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/cusom.js")"></script>
    @Scripts.Render(Url.Content("~/Scripts/bootbox.min.js"))
}