﻿@model Checklist

@{
    ViewBag.Title = "Просмотр чек-листа «" + Model.Name + "»";
}

<div class="checklist-container">
    <div class="panel panel-default">
        <div id="section-container">
            @if (Model != null && Model.Sections != null && Model.Sections.Count != 0)
            {
                foreach (var section in Model.Sections.OrderBy(s => s.OrdinalNumber))
                {
                    @Html.Partial("_ViewSection", section)
                }
            }
        </div>
    </div>
</div>
<div>
    <button class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Checklists")';return false;">
        Вернуться к списку
    </button>
    <button class="btn btn-default pull-right" onclick="location.href = '@Url.Action("Export", "Checklists", new {id = Model.ID})';return false;">
        Экспортировать
    </button>
</div>

@section Styles
{
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet"/>
}