﻿@model Audits.Models.Notifications.MailConfig
@{
    ViewBag.Title = "Конфигурация e-mail сервера";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "Необходимо заполнить все поля", new {@class = "text-danger"})
        <div class="form-group">
            <strong class="control-label col-md-2">E-mail адрес</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Адрес сервера</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Host, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Host, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Порт</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Port, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Port, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Имя пользователя</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Пароль</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-success"/>
            </div>
        </div>
    </div>
}