// _set-type.scss adds the most commonly used sets for basic page layout.

// Generate grid system and containers
// ===================================================
@include grid(float, (
    root: (12 gap 2%) column offset,
    laptop: (12 gap 2%) column,
    tablet: (12 gap 2%) column,
    mobile: (12 gap 2%) column,
    ), $m);

._container { // bootstrap compatibility
    padding-left: 15px;
    padding-right: 15px;
    min-width:640px;
}

@include container(( //-48px
    root: 1060px, //1170
    laptop: 910px,//970
    tablet: 700px,//750 
    mobile: 100%, 
    ), $m);

// Define Basic Variables
// ===================================================
$s: (); // temp sets storage
// Spacing variables
$sz-default: calc-line(1);
$sz-xxlg:    calc-line(7);
$sz-xlg:     calc-line(5);
$sz-lg:      calc-line(4);
$sz-md:      calc-line(3);
$sz-sm:      calc-line(2);
$sz-xsm:     calc-line(0.5);
$sz-xxsm:    calc-line(0.25);

// Define Sets
// ===================================================
// Top, Right, Bottom, Left
$trbl-set: (
    root: (
        0, 0,
        auto, auto,
        def, $sz-default,
        xxlg, $sz-xxlg,
        xlg, $sz-xlg,
        lg, $sz-lg,
        md, $sz-md,
        sm, $sz-sm,
        nsm, -$sz-sm,
        xsm, $sz-xsm,
        xxsm, $sz-xxsm,
    ),
    mobile: (prefix,
        0, 0,
    )
);
$s: add($s, top, $Top, $trbl-set);
$s: add($s, right, $Right, $trbl-set);
$s: add($s, bottom, $Bottom, $trbl-set);
$s: add($s, left, $Left, $trbl-set);

// Margin
$margin-set: (
  0, 0,
  auto, auto,
  def, $sz-default,
  xxlg, $sz-xxlg,
  xlg, $sz-xlg,
  lg, $sz-lg,
  md, $sz-md,
  sm, $sz-sm,
  xsm, $sz-xsm,
  xxsm, $sz-xxsm,
);
$s: add($s, margin, $Margin, $margin-set);
$s: add($s, margin-top, $Margin-top, $margin-set);
$s: add($s, margin-right, $Margin-right, $margin-set);
$s: add($s, margin-bottom, $Margin-bottom, $margin-set);
$s: add($s, margin-left, $Margin-left, $margin-set);

// Padding
$padding-set: (
  0, 0,
  def, $sz-default,
  xxlg, $sz-xxlg,
  xlg, $sz-xlg,
  lg, $sz-lg,
  md, $sz-md,
  sm, $sz-sm,
  xsm, $sz-xsm,
  xxsm, $sz-xxsm,
);
$s: add($s, padding, $Padding, $padding-set);
$s: add($s, padding-top, $Padding-top, $padding-set);
$s: add($s, padding-right, $Padding-right, $padding-set);
$s: add($s, padding-bottom, $Padding-bottom, $padding-set);
$s: add($s, padding-left, $Padding-left, $padding-set);

// Height, Width
$width-height-set: (
  root: (
    0, 0,
    100, 100%,
    auto, auto,
    def, $sz-default,
    xxlg, $sz-xxlg,
    xlg, $sz-xlg,
    lg, $sz-lg,
    md, $sz-md,
    sm, $sz-sm,
    xsm, $sz-xsm,
    xxsm, $sz-xxsm,
  ),
  media: all (prefix,
    100, 100%,
    auto, auto,
  ),
);
$s: add($s, height, $Height, $width-height-set);
$s: add($s, width, $Width, $width-height-set);

// Position
$s: add($s, position, $Position, (
  all: (prefix,
    fixed, fixed,
    relative, relative,
    absolute, absolute,
  ),
));

// Z-index
$s: add($s, z-index, $Z-index, (
  1000, 1000,
  100, 100,
  10, 10,
  1, 1,
  0, 0,
  n1, -1,
));

// Display
$s: add($s, display, $Display, (
  all: (prefix,
    none, none,
    block, block,
    inline, inline,
    inline-block, inline-block,
    flex, flex,
  ),
));

// Floats
$s: add($s, float, $Float, (
  left, left,
  right, right,
  none, none,
));

// Visibility
$s: add($s, visibility, $Visibility, (
  all: (prefix,
    visible, visible,
    hidden, hidden,
  ),
));

// Opacity
$s: add($s, opacity, $Opacity, (
  0, 0,
  xsm, 0.1,
  sm, 0.3,
  md, 0.4,
  lg, 0.6,
  xlg, 0.7,
  1, 1,
  (''_':hover'),
  '1--hover', 1,
));

// Overflow
$overflow-set: (
  auto, auto,
  hidden, hidden,
);
//$s: add($s, overflow, $Overflow, $overflow-set);
//$s: add($s, overflow-x, $Overflow-x, $overflow-set);
//$s: add($s, overflow-y, $Overflow-y, $overflow-set);

// Vertical-Align
$s: add($s, vertical-align, $Vertical-align, (
  top, top,
  middle, middle,
  bottom, bottom,
));

// Render Styles
// ===================================================
@include sets($s, $m);