// _set-styling.scss adds visual styles. Do not forget to use colors from _palette.scss.

$s: (); // temp sets storage

// Define Sets
// ===================================================
// Color
$s: add($s, color, $Color, (
    rd50, m($c,red500),
    grn50, m($c,green500),
    bl50, m($c,blue500),
    // blacks
    gr20, m($c,gray200),
    gr30, m($c,gray300),
    gr40, m($c,gray400),
    gr50, m($c,gray500),
    gr60, m($c,gray600),
    gr70, m($c,gray700),
    blk, m($c,black),
    blkM, m($c,blackMid),
    blkH, m($c,blackHigh),
    wht, m($c,white),
    (''_':hover'),
    inh--hover, inherit,
    ));

// Background
$background-set: (
    gr20, m($c,gray200),
    gr30, m($c,gray300),
    gr40, m($c,gray400),
    (''_':hover'),
    gr40--hover, m($c,gray400),
    );
$s: add($s, background-color, $Background-color, $background-set);

// Border
$border-set: (
    solid, 1px solid,
    0, 0,
    );
$s: add($s, border, $Border, $border-set);
$s: add($s, border-top, $Border-top, $border-set);
$s: add($s, border-right, $Border-right, $border-set);
$s: add($s, border-bottom, $Border-bottom, $border-set);
$s: add($s, border-left, $Border-left, $border-set);
$s: add($s, border-color, $Border-color, (
    gr20, m($c,gray200),
    gr30, m($c,gray300),
    gr40, m($c,gray400),
    gr50, m($c,gray500),
    ));
$border-width-set: (
    def, 1px,
    0, 0,
    );
$s: add($s, border-width, $Border-width, $border-width-set);
$s: add($s, border-top-width, $Border-top-width, $border-width-set);
$s: add($s, border-bottom-width, $Border-bottom-width, $border-width-set);
$s: add($s, border-left-width, $Border-left-width, $border-width-set);
$s: add($s, border-right-width, $Border-right-width, $border-width-set);

// Box-shadow
$s: add($s, box-shadow, $Box-shadow, (
    b-def, 0 1px 1px rgba(0,0,0,0.03),
    ));

// Transitions
$s: add($s, transition, $Transition, (
    all-slow, (all 0.6s ease-in-out),
    all, (all 0.3s ease-in-out),
    ));

// Cursor
$s: add($s, cursor, $Cursor, (
    pointer, pointer,
    default, default,
    ));

// Render Styles
// ===================================================
@include sets($s, $m);
