// _set-type.scss adds typography styles.

// Define Basic Variables
// ===================================================
$s: (); // temp sets storage
// Set calc-line() baseline relative to line-height
$calc-line-baseline: $_line-height;
$calc-line-threshold: 90%;
// Type set (name, font-size, line-height, font-weight)
$_type-max:       disp4  112px  calc-line(112px);
$_type-xxlg:      disp3  56px   calc-line(56px);
$_type-xlg:       disp2  45px   calc-line(45px);
$_type-lg:        disp1  34px   calc-line(34px);
$_type-md:        head   24px   calc-line(24px);
$_type-sm:        titl   20px   calc-line(20px);
$_type-xsm:       subh   16px   calc-line(16px);
$_type-xxsm:      butt   14px   calc-line(14px);
$_type-min:       capt   12px   calc-line(12px);

// Define Sets
// ===================================================
// Name, Font-Size, Line-Height, Font-weight
//$s: add($s, _txt, (font-size, line-height, font-weight) (

// Font-size
$s: add($s, font-size, $Font-size, (
    subh, nth($_type-xsm, 2),
    head, nth($_type-md, 2),
    ));

// Font-Weight
$s: add($s, font-weight, $Font-weight, (
  normal, normal,
  bold, bold,
));

// Font-Style
$s: add($s, font-style, $Font-style, (
  italic, italic,
  normal, normal,
));

// Text-Decoration
$s: add($s, text-decoration, $Text-decoration, (
  underline, underline,
  through, line-through
));

// Text-Transform
$s: add($s, text-transform, $Text-transform, (
  upper, uppercase,
  lower, lowercase,
  capital, capitalize
));

// Text-Align
$s: add($s, text-align, $Text-align, (
  left, left,
  right, right,
  center, center,
  justify, justify,
));


// Render Styles
// ===================================================
@include sets($s, $m);
