﻿@model IEnumerable<Subdivision>
@{
    ViewBag.Title = "Структура предприятия";
}
<h2>Структура предприятия</h2>
<div id="message" class="row col-md-12"></div>
<div class="row to-hide">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default" onclick="createNode();">Создать</button>
            <button type="button" class="btn btn-default" onclick="deleteNode();">Удалить</button>
        </div>
        <button type="button" class="btn btn-default" onclick="saveTree();">Сохранить дерево</button>
    </div>
</div>
<div class="row to-hide">
    <div class="col-md-9">
        <h4>Дерево подразделений</h4>
        <div>
        </div>
        <div id="jstree"></div>
    </div>
    <div class="col-md-3">
        <h4>Подразделение</h4>
        <form>
            <div class="form-group">
                <label for="jstree-name">Наименование*</label>
                <input id="jstree-name" type="text" class="form-control" placeholder="Наименование">
            </div>
            <div class="form-group">
                <label for="jstree-sap">Код SAP</label>
                <input id="jstree-sap" type="text" class="form-control" placeholder="Код SAP">
            </div>
            <div class="form-group">
                <label for="jstree-head">Руководитель</label>
                <select id="jstree-head" class="form-control" placeholder="Руководитель"></select>
            </div>
            <input id="jstree-id" type="hidden">
            <button type="button" class="btn btn-default" onclick="saveSubdivisionInfo();">Сохранить</button>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jstree.min.js"></script>
    <script src="~/Scripts/jquery-editable-select.js"></script>
    <script>
        //----------------------------------------------------------
        // Tree initialization
        //----------------------------------------------------------
        var removedNodes = [];
        var jqTree = {};
        var jqDivisionName = {};
        var jqDivisionSap = {};
        $('#message').hide();
        $(function() {
            // Initialize jstree and request data from the server.
            jqTree = $('#jstree');
            jqDivisionName = $('#jstree-name');
            jqDivisionSap = $('#jstree-sap');
            jqTree.jstree({
                    'core': {
                        'check_callback': true,
                        'data': {
                            'url': '@Url.Action("JsonTree")'
                        },
                        'error': function(response) {
                            var xhr = JSON.parse(response.data).xhr;
                            showMessage('Ошибка!', xhr.statusText);
                            $('.to-hide').hide();
                        }
                    },
                    'plugins': ['dnd', 'search', 'state', 'types', 'wholerow']
                })
                // Callback function that is called when node was selected.
                .on('changed.jstree',
                    function(e, data) {
                        if (data && data.node && data.selected.length) {
                            // Extract information about subdivision from the selected node
                            // and display details about it.
                            var subdivision = data.node.data;
                            if (subdivision) {
                                jqDivisionName.val(subdivision.name);
                                jqDivisionSap.val(subdivision.saP_ID);
                                loadSubdivisionEmployees(subdivision.id, subdivision.headID);
                            } else {
                                jqDivisionName.val('');
                                jqDivisionSap.val('');
                                $('#jstree-head').val('');
                            }
                        }
                    });
        });

        //----------------------------------------------------------
        // Node management
        //----------------------------------------------------------
        // Add new child node to the selected node.
        function createNode() {
            var ref = jqTree.jstree(true),
                sel = ref.get_selected();
            if (!sel.length) {
                return false;
            }
            sel = sel[0];
            var newNodeName = 'Новый элемент дерева';
            sel = ref.create_node(sel, { 'type': 'file', 'text': newNodeName });
            var node = ref.get_node(sel);
            // Add empty instance of the Subdisivion class.
            var parentSubdivision = ref.get_node(node.parent).data;
            subdivision = new Subdivision(parentSubdivision);
            subdivision.name = newNodeName;
            node.data = subdivision;
        };

        // Delete selected node and its children.
        function deleteNode() {
            var ref = jqTree.jstree(true),
                sel = ref.get_selected();
            if (!sel.length) {
                return false;
            }
            var res = flattenSubTree(ref, sel);
            removedNodes = removedNodes.concat(res);
            ref.delete_node(sel);
        };

        //----------------------------------------------------------
        // Node's detailed information management
        //----------------------------------------------------------
        // Save detailed information of subdivision into tree node.
        function saveSubdivisionInfo() {
            var ref = jqTree.jstree(true);
            var sel = ref.get_selected();
            if (!sel.length) {
                return false;
            }
            var node = ref.get_node(sel[0], false);
            var subdivision = node.data;
            var sapId = getContent(jqDivisionSap);
            var name = getContent(jqDivisionName);
            // Select current element of drop-down list.
            var headId = getValue($('.es-visible'));
            if (!headId) {
                headId = -1;
            }
            if (!isValidInput(sapId, name, headId)) {
                showMessage('Ошибка!', 'Неверные данные.');
                return;
            }
            ref.rename_node(node, name);
            node.text = name.trim();
            subdivision.name = name.trim();
            subdivision.saP_ID = sapId.trim();
            subdivision.headID = headId;
        }

        // Load list of employees of the specified subdivision.
        function loadSubdivisionEmployees(subdivisionId, selectedId) {
            var employeesList = [];
            $.getJSON('@Url.Action("JsonSubdivisionEmployees")/' + subdivisionId,
                function(data) {
                    employeesList = data;
                    populateEmployeeList(employeesList, selectedId);
                });
        }

        // Populate list of employees with the provided items.
        function populateEmployeeList(list, selectedId) {
            $('#jstree-head').editableSelect('destroy');
            $('#jstree-head').empty();
            $.each(list,
                function(key, value) {
                    $('#jstree-head').append($("<option></option>")
                        .attr("value", value.id)
                        .text(getEmployeeName(value)));
                });
            $('#jstree-head').editableSelect({
                trigger: 'manual',
                effects: 'fade',
                duration: 50
            });
            if (selectedId) {
                // Find 'li' element which should be selected.
                var element = $('.es-list').find('li')
                    .filter(function() {
                        return $(this).attr('value') == selectedId;
                    });
                // Selected provided element.
                $('#jstree-head').editableSelect('select', element);
            }
        }

        //----------------------------------------------------------
        // Persistence
        //----------------------------------------------------------
        // Persists the tree into the database.
        function saveTree() {
            $('#message').hide();
            jqDivisionName.val('');
            jqDivisionSap.val('');
            populateEmployeeList([], 0);
            var json = jqTree.jstree(true)
                .get_json('#', { flat: false, no_a_attr: true, no_li_attr: true, no_state: true });
            if (validateTree(json)) {
                json = json.concat(removedNodes);
                var str = JSON.stringify(json);
                $.post('@Url.Action("SaveJsonTree")', str)
                    .done(function() {
                        showMessage('Структура была успешно сохранена.');
                        // Reload data from database.
                        jqTree.jstree(true).refresh();
                    })
                    .fail(function(xhr, status, error) {
                        showMessage('Ошибка!', 'Неверные данные.');
                        // Reload data from database.
                        jqTree.jstree(true).refresh();
                    });
            }
        }

        //----------------------------------------------------------
        // Tree operations
        //----------------------------------------------------------
        // Validate the tree structure.
        function validateTree(tree) {
            if (tree.length < 1) {
                showMessage('Ошибка!', 'Дерево не содержит элементов.');
                return false;
            } else if (tree.length > 1) {
                showMessage('Ошибка!', 'Дерево содержит более одного корневого элемента.');
                return false;
            }
            return validateTreeNode(tree[0]);
        }

        // Validate node of the tree.
        function validateTreeNode(node) {
            // If it's a new node then set its id to -1.
            if (isNaN(node.id)) {
                node.id = -1;
            }
            if (node.text != node.data.name) {
                return false;
            }
            var result = true;
            node.children.forEach(function(value, index, array) {
                if (!validateTreeNode(value)) {
                    result = false;
                }
            });
            return result;
        }

        // Convert the node and its children into the list of pruned nodes.
        function flattenSubTree(jstree, rootId) {
            var result = [];
            var root = jstree.get_node(rootId);
            // Prune children nodes of the provided node if any.
            for (var i = 0; i < root.children.length; ++i) {
                var list = flattenSubTree(jstree, jstree.get_node(root.children[i]));
                result = result.concat(list);
            }
            var prunedNode = getPrunedNode(root);
            // Add only nodes that were already persisted to the database.
            if (!isNaN(prunedNode.id)) {
                result.push(prunedNode);
            }
            return result;
        }

        // Get prunned copy of the provided tree node.
        function getPrunedNode(root) {
            var result = {
                'children': [],
                'data': root.data,
                'icon': root.icon,
                'id': root.id,
                'text': root.text,
                'type': root.type
            };
            return result;
        }

        //----------------------------------------------------------
        // Service functions
        //----------------------------------------------------------
        // Returns concatenated name of the provided employee.
        function getEmployeeName(employee) {
            var name = '';
            if (employee) {
                if (employee.lastName && employee.lastName.length > 0) {
                    name = employee.lastName + ' ';
                }
                if (employee.firstName && employee.firstName.length > 0) {
                    name += employee.firstName[0] + '.';
                }
                if (employee.patronymic && employee.patronymic.length > 0) {
                    name += employee.patronymic[0] + '.';
                }
                name += ' (' + employee.email + ')';
            }
            return name;
        }

        // Show error message.
        function showMessage(header, msg) {
            $('#message').show();
            $('#message').empty();
            $('#message').append('<div class="col-md-12">');
            if (header) {
                $('#message').append('<h3><strong>' + header + '</strong></h3>');
            }
            if (msg) {
                $('#message').append('<p>' + msg + '</p>');
            }
            $('#message').append('</div>');
            $('#message').delay(3000).fadeOut();
        }

        // Get content of the DOM element.
        function getContent(element) {
            return element.val().trim();
        }

        // Get content of the DOM element.
        function getValue(element) {
            return element.val();
        }

        // Validate user input.
        function isValidInput(sapId, name, headId) {
            var result = name && name.length > 0 && headId;
            if (sapId) {
                result = result && (sapId.length > 0 && sapId.match(/^\d+$/g) || sapId.length == 0);
            }
            return result;
        }

        // Prototype for the Subdivion class.
        function Subdivision(parent) {
            this.head = null;
            this.headID = -1;
            this.id = -1;
            this.name = null;
            this.parent = parent;
            this.parentID = -1;
            this.saP_ID = null;
        }
    </script>
}

@section styles {
    <link rel="stylesheet" href="~/Content/jstree-themes/default/style.min.css"/>
    <style>
        input.es-input {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat;
            padding-right: 20px !important;
        }

        input.es-input.open {
            -moz-border-radius-bottomleft: 0;
            -moz-border-radius-bottomright: 0;
            -webkit-border-bottom-left-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .es-list {
            -moz-box-shadow: 0 2px 3px #ccc;
            -webkit-box-shadow: 0 2px 3px #ccc;
            background: #fff;
            border: 1px solid #d1d1d1;
            box-shadow: 0 2px 3px #ccc;
            display: none;
            margin: 0;
            max-height: 260px;
            overflow-y: auto;
            padding: 0;
            position: absolute;
            z-index: 1000;
        }

        .es-list li {
            display: block;
            margin: 0;
            padding: 5px 10px;
        }

        .es-list li.selected { background: #f3f3f3; }

        .es-list li[disabled] { opacity: .5; }
    </style>
}