﻿@using System.Globalization
@{
    var culture = CultureInfo.InvariantCulture;
    var now = DateTime.Now;
    var endDate = new DateTime(now.Year, now.Month, 25);
    var startDate = endDate.AddMonths(-1);
}

<div class="input-group input-daterange">
    <input id="startDate" required="" name="startDate" type="text" class="form-control js-report-input" value="@startDate.ToString("dd/MM/yyyy", culture)">
    <div class="input-group-addon">по</div>
    <input id="endDate" required="" name="endDate" type="text" class="form-control js-report-input" value="@endDate.ToString("dd/MM/yyyy", culture)">
</div>