﻿<select required id="report-subdivision" class="form-control js-report-input" name="subdivisionId">
    @foreach (var subdivision in @ViewBag.Subdivisions)
    {
        <option value="@subdivision.ID">@subdivision.Name</option>
    }
</select>
