﻿<div class="panel format-selection">
    Формат отчета:<br/>
    <label class="radio-inline">
        <input type="radio" name="asPdf" value="false" checked="checked">.xlsx
    </label>
    <label class="radio-inline">
        <input type="radio" name="asPdf" value="true">.pdf
    </label>
</div>