﻿@model Audits.Models.Reports.Data.ReportData
<table class="table table-bordered table-report">
    <thead>
    <tr>
        <th rowspan="2" class="vertical-center horizontal-center">
            №
        </th>
        <th rowspan="2" class="vertical-center horizontal-center">
            Блок
        </th>
        <th rowspan="2" class="vertical-center horizontal-center">
            Подразделение
        </th>
        <th rowspan="2" class="vertical-center horizontal-center">
            Участок
        </th>
        <th colspan="@Model.Header.ColumnNumber" class="vertical-center horizontal-center">
            @Model.Header.Title
        </th>
        
    </tr>
    <tr>
        @foreach (var name in Model.Header.ColumnNames)
        {
            <th>@name</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Model.Body.Rows)
    {
        <tr>
            @foreach (var name in row.Names)
            {
                <td>@name</td>
            }
            @foreach (var value in row.Values)
            {
                <td>@value%</td>
            }
        </tr>
    }
    </tbody>
</table>