﻿@using System.Globalization
@using Audits.Models.Database_Manager
@model Checklist

@using (Html.BeginForm((string) ViewBag.Action, "Reports"))
{
    <div class="panel">
        <table class="table">
            <tr>
                <td>
                    Подразделение
                </td>
                <td>
                    Месяц
                </td>
                <td>
                    Участок (цех, отдел)
                </td>
            </tr>
            <tr>
                <td>
                    <select id="report-subdivision" class="form-control  js-report-input" name="subdivisionId">
                        @foreach (var subdivision in @ViewBag.Subdivisions)
                        {
                            <option value="@subdivision.ID">@subdivision.Name</option>
                        }
                    </select>
                </td>
                <td>
                    @Html.Partial("_DateRange")
                </td>
                <td>
                    <select id="selected-subdivision" class="form-control js-report-input" name="selectedSubdivisionId">
                        <option value="0">Нет доступных участков</option>
                    </select>
                </td>
            </tr>
        </table>

        <input id="getDataTable" type="hidden" value=@Url.Action("GetDataTable", "Reports") />
        <div class="js-data-table">
        </div>

    </div>
    <input id="reportType" type="hidden" name="reportType" value="@ViewBag.ReportType" />
    @Html.Partial("_SelectFormat")
    <input type="submit" name="OK" class="btn btn-default" value="Сформировать отчет" />
}

@section Styles {
    @Styles.Render(Url.Content("~/Content/bootstrap-datepicker.min.css"))
    @Styles.Render(Url.Content("~/Content/reports.css"))
}

@section Scripts {
    @Scripts.Render(Url.Content("~/Scripts/bootstrap-datepicker.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/locales/bootstrap-datepicker.ru.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/reports.js"))

    <script type="text/javascript">
        $(document)
            .ready(function() {
                updateSubdivisions();
                updateTable();
                initDatepicker();

                $("#report-subdivision")
                    .on("change",
                        function() {
                            updateSubdivisions();
                        });
            });
    </script>

}