﻿@{
    ViewBag.Title = "Отчёты";
}
<h2>Отчёты</h2>
<hr />
<table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>@Html.ActionLink("Уровень соответствия по номинации", "ComplianceForSectionByMonths", "Reports")</td>
    </tr>
    <tr>
        <td>2</td>
        <td>@Html.ActionLink("Уровень соответствия за месяц по номинации", "ComplianceLevelForSection", "Reports")</td>
    </tr>
    <tr>
        <td>3</td>
        <td>@Html.ActionLink("Уровень соответствия за месяц по подразделению", "ComplianceLevelForSubdivisionBar", "Reports")</td>
    </tr>
    <tr>
        <td>4</td>
        <td>@Html.ActionLink("Уровень соответствия за месяц по подразделению (радар)", "ComplianceLevelForSubdivisionRadar", "Reports")</td>
    </tr>
    <tr>
        <td>5</td>
        <td>@Html.ActionLink("Выполенение графика аудитов по подразделению", "ExecutionSchedulePie", "Reports")</td>
    </tr>
    <tr>
        <td>6</td>
        <td>@Html.ActionLink("Выполенение графика аудитов по подразделению", "ExecutionScheduleBar", "Reports")</td>
    </tr>
    <tr>
        <td>7</td>
        <td>@Html.ActionLink("Уровень подтверждения оценки", "ValidationLevel", "Reports")</td>
    </tr>
    </tbody>
</table>