﻿@using System.Globalization
@using Audits.Models.Database_Manager
@model Checklist

@{
    ViewBag.Title = "Общий уровень соответствия по всем номинациям";
}

<h2>LevelOfComplianceForSectionForPeriod</h2>
@using (Html.BeginForm("GetOverallLevelOfComplianceAllSectionsReport", "Reports"))
{
    <div class="panel">
        <table class="table">
            <tr>
                <td>
                    Подразделение
                </td>
                <td>
                    Месяц
                </td>
            </tr>
            <tr>
                <td>
                    <select id="report-subdivision" class="form-control" name="subdivisionId">
                        @foreach (var subdivision in @ViewBag.Subdivisions)
                        {
                            <option value="@subdivision.ID">@subdivision.Name</option>
                        }
                    </select>
                </td>
                <td>
                    <div class="input-group input-daterange">
                        <input name="startDate" type="text" class="form-control" value="@DateTime.Now.AddMonths(-1).ToString("MM/yyyy", CultureInfo.InvariantCulture)">
                        <div class="input-group-addon">по</div>
                        <input name="endDate" type="text" class="form-control" value="@DateTime.Now.ToString("MM/yyyy", CultureInfo.InvariantCulture)">
                    </div>
                </td>
            </tr>
        </table>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Блок
                </th>
                <th>
                    Подразделение
                </th>
                <th>
                    Участок (отдел/цех)
                </th>
                <th>
                    Уровень соответствия по месяцам %
                </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <input type="submit" name="OK"/>
}

@section Styles {
    @Styles.Render(Url.Content("~/Content/bootstrap-datepicker.min.css"))
}

@section Scripts {
    @Scripts.Render(Url.Content("~/Scripts/bootstrap-datepicker.min.js"))
@Scripts.Render(Url.Content("~/Scripts/locales/bootstrap-datepicker.ru.min.js"))

    <script type="text/javascript">
        function updateSections() {
            var subdivisionId = $("#report-subdivision").val();
            $.ajax({
                url: @Url.Action("GetSections","Reports"),
                data: {
                    subdivisionId: subdivisionId
                },
                success: function(sections) {
                    var data = $.parseJSON(sections);
                    $("#report-section")
                        .find('option')
                        .remove()
                        .end();
                    $.each(data,
                        function(key, value) {
                            $("#report-section")
                                .append("<option value=" + key + ">" + value + "</option>");
                        });

                },
                error: function() {
                    alert("Ошибка сервера");
                }
            });
        }

        $(document)
            .ready(function() {
                updateSections();
                $("#report-subdivision")
                    .on("change",
                        function() {
                            updateSections();
                        });
                $('.input-daterange input').each(function () {
                    $(this).datepicker({
                        format: "mm/yyyy",
                        startView: "months",
                        minViewMode: "months",
                        language: "ru"
                    });
                });

            });
    </script>

}