﻿body {
    background-color: #00ff90;
}
.table_employees {
    border: 1px solid #000000;
}
.table_employees th {
    border: 1px solid #000000;
    text-align: center;
    width: 10%;
}
.table_employees td {
    border: 1px solid #808080;
    text-align: center;
    width: 10%;
}