﻿.vertical-center {
    vertical-align: middle !important;
}

.horizontal-center {
    text-align: center !important;
}

.table-report {
    margin-top: 20px;
}

.format-selection {
    padding-bottom: 20px;
}