﻿.borderless {
    border: none;
}

.table .borderless {
    border: none;
}

.checklist-title-block {
    padding: 10px;
}

.section-title-block {
    padding: 0 10px 10px;
}

.checklist-input, .inline-block {
    display: inline-block;
}

.checklist-container .panel-default {
    padding: 10px;
}

.checklist-container {
    margin-bottom: 20px;
}

.panel .checklist-parameters-table {
    margin-bottom: 10px;
}

.remove-parameter {
    float: left;
    border: 0;
}

.checklist-parameters-table {
    border-right: none;
    border-bottom: none;
}

.checklist-parameters-table .checklist-action-textarea {
    height: 34px;
    max-width: 510px;
    width: 510px;
    resize: vertical;
}

.checklist-create {
    margin-top: 20px;
}

.section-title {
    width: 84.5%;
}

.remove-section {
    float: right;
}

.btn-remove:hover {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.parameter-input {
    max-width: none;
}

.checklist-create-container {
    margin-bottom: 20px;
}

.checklist-remove {
    color: #d9534f;
}

.checklist-remove:hover {
    color: #fff;
    background-color: #d9534f;
}

.checklist-remove.disabled {
    color: darkgray;
    
}

.checklist-remove.disabled:hover {
    cursor: default;
    background-color: inherit;
}

.btn-remove.disabled:hover {
    color: inherit;
}

.checklist-remove:active {
    background-color: #bf4946;
}

.checklist-edit {
    color: #428bca;
}

.checklist-edit:hover {
    color: #fff;
    background-color: #428bca;
}

.checklist-edit:active {
    background-color: #3a7ab2;
}

.table tbody > tr > td.no-padding {
    padding: 0;
}

.checklist-view {
    color: #333333;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.checklist-view:hover {
    text-decoration: none;
}

.checklist-view:active {
    background-color: #e1e1e1;
}

.checklist-table tbody > tr > td {
    height: 50px;
}

.checklist-action-container {
    display: inline-block;
    height: 100%;
    float:left;
    width: 50%;
}

.checklist-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
}

.checklist-action:hover {
    text-decoration: none;
    cursor: pointer;
}

.checklist-glyphicon {
    top: -2px;
}