﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | СИСТЕМА АУДИТ "КАМАЗ"</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="home" class="pst-relative l-xsm mobile_l-0" style="">
@* << shift by size of left navbar *@
@* HEADER *@
@* Empty spaceholder for fixed topbar *@
<div class="h-sm w-100 vsb-hidden"></div>
<div class="pst-fixed z-100 l-0 t-0 w-100">
    @* Just border *@
    <div class="pst-absolute l-0 t-0 w-100 h-sm bgcl-gr20 brd-solid brcl-gr30 bxsh-b-def"></div>
    <div class="_container l-xsm mobile_l-0">
        @* << shift by size of left navbar *@
        @* Home button *@
        <a class="dsp-block pst-absolute w-sm h-sm l-nsm bgcl-gr30 brd-solid brcl-gr50 pdd-t-xsm
               txal-center fnsz-subh c-gr60 c-inh--hover bgcl-gr40--hover trn-all" href="/">
            <span class="glyphicon glyphicon-home"></span>
        </a>
        <div class="_row h-sm ">
            @* Brand + breadcrumbs *@
            <div class="_col-7 pdd-t-xsm"><a class="fnwg-bold c-blk" href="@Url.Action("Index", "Home")">СИСТЕМА АУДИТ</a>&nbsp; &raquo;&nbsp; @ViewBag.Title</div>
            @* Username login/logout *@
            <div class="_col-5 pdd-t-xxsm txal-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        @User.Identity.Name <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Настройки аккаунта</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Выйти из системы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@* CONTENT *@
<div class="_container h-100">
    @* SIDE NAVBAR *@
    <div class="pst-absolute h-100 w-sm l-nsm z-10 bgcl-gr30 brd-solid brcl-gr40 txal-center fnsz-subh" style="">
        @{
            var style = "pst-relative dsp-block h-sm w-sm pdd-t-xsm c-blkH brd-solid brcl-gr40 brwd-0 brwd-b-def c-inh--hover bgcl-gr40--hover trn-all";
        }
        <a class="@style" style="left: -1px;" href="@Url.Action("Index", "Audits")" title="Работа с аудитами">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
        <a class="@style" style="left: -1px;" href="@Url.Action("Index", "Checklists")" title="Сформировать отчет">
            <span class="glyphicon glyphicon-list-alt"></span>
        </a>
        <a class="@style" style="left: -1px;" href="@Url.Action("Index", "Checklists")" title="Работа с чек-листами">
            <span class="glyphicon glyphicon-check"></span>
        </a>
        <a class="@style" style="left: -1px;" href="@Url.Action("Index", "Employees")" title="Управление пользователями">
            <span class="glyphicon glyphicon-user"></span>
        </a>
        <a class="@style" style="left: -1px;" href="@Url.Action("Index", "Subdivisions")" title="Управление структурой предприятия">
            <span class="glyphicon glyphicon-indent-left"></span>
        </a>
        <a class="@style" style="border-bottom: 0; bottom: 0; color: #bbb; left: -1px; position: absolute;" href="#" title="Наверх">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div>

    @* VIEWS' BODY *@
    <div class="_body">
        @RenderBody()
    </div>

    @* FOOTER *@
    <footer class="pdd-t-def pdd-b-def mrg-t-def brd-solid brcl-gr30 brwd-0 brwd-t-def brwd-b-def">
        <p class="c-gr50">© ПАО “КАМАЗ” @DateTime.Now.Date.ToString("yyyy")</p>
    </footer>
</div>

@* DUMB EMPTY SPACE *@
<div class="pdd-b-sm w-100"></div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
@RenderSection("styles", false)
</body>
</html>