﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка сервера";
}

@* Adhoc styles for Bootstrap *@
<style>
    .bs-callout-danger {
        background-color: #fdf7f7;
        border-color: #eed3d7;
    }

    .bs-callout {
        border-left: 3px solid #eee;
        margin: 10px 0;
        padding: 15px 20px;
    }
</style>

@* Error message box *@
<div class="bs-callout bs-callout-danger">
    @* If the administrator miss to put useful information *@
    @if (ViewBag.ErrorName == null || ViewBag.ErrorName == "")
    {
        ViewBag.ErrorName = "Ошибка! :(";
    }
    @if (ViewBag.ErrorReason == null || ViewBag.ErrorReason == "")
    {
        ViewBag.ErrorReason = "На сервере произошла ошибка, причина которой на данный момент неизвестна.";
    }
    @* Concatenate the following appendix whatever the reason is known or not *@
    @{
        ViewBag.ErrorReason = ViewBag.ErrorReason + " Пожалуйста, обратитесь к администраторам с указанием следующего адреса обращения: " + HttpContext.Current.Request.Url.AbsoluteUri;
    }
    <h2>@ViewBag.ErrorName</h2>
    <p class="txal-justify">@ViewBag.ErrorReason</p>
</div>

@* Return back: if previous Url exists go back to referrer otherwise - go home *@
<a href="@(Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : @Url.Action("Index", "Home"))" class="btn btn-default mrg-t-xsm">
    <span class="c-gr60 glyphicon glyphicon-chevron-left" style="top: 2px;"></span>&nbsp; Назад
</a>

@*<p>ViewBag.Debug</p>*@