/*!
 * Name: KAMAZ Audit System styles
 */
/*!
* elementcss v2.9.0 | MIT License | (c) 2013-2016 Timur Fayzrakhmanov
* https://github.com/timfayz/elementcss
*/
::selection {
  background-color: #eee; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-size: 100%; }

body {
  min-width: 640px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Exo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em; }

._body {
  padding-top: 15px;
  min-height: 280px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Exo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

._body > *:first-child {
  margin-top: 5px; }

@font-face {
  font-family: Exo;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/exo2-light.eot'); src: url('../fonts/exo2-light.eot?#iefix') format('embedded-opentype'), url('../fonts/exo2-light.woff2') format('woff2'), url('../fonts/exo2-light.woff') format('woff'), url('../fonts/exo2-light.ttf') format('truetype'); }
.fnsz-subh {
  font-size: 16px; }

.fnsz-head {
  font-size: 24px; }

.fnwg-normal {
  font-weight: normal; }

.fnwg-bold {
  font-weight: bold; }

.fnst-italic {
  font-style: italic; }

.fnst-normal {
  font-style: normal; }

.txdc-underline {
  text-decoration: underline; }

.txdc-through {
  text-decoration: line-through; }

.txtr-upper {
  text-transform: uppercase; }

.txtr-lower {
  text-transform: lowercase; }

.txtr-capital {
  text-transform: capitalize; }

.txal-left {
  text-align: left; }

.txal-right {
  text-align: right; }

.txal-center {
  text-align: center; }

.txal-justify {
  text-align: justify; }

.c-rd50 {
  color: #F14545; }

.c-grn50 {
  color: #A7E551; }

.c-bl50 {
  color: #42A1F4; }

.c-gr20 {
  color: #fbfbfb; }

.c-gr30 {
  color: #f0f0f0; }

.c-gr40 {
  color: #dedede; }

.c-gr50 {
  color: #bbb; }

.c-gr60 {
  color: #424242; }

.c-gr70 {
  color: #303030; }

.c-blk {
  color: #090909; }

.c-blkM {
  color: rgba(9, 9, 9, 0.26); }

.c-blkH {
  color: rgba(9, 9, 9, 0.54); }

.c-wht {
  color: #fff; }

.c-inh--hover:hover {
  color: inherit; }

.bgcl-gr20 {
  background-color: #fbfbfb; }

.bgcl-gr30 {
  background-color: #f0f0f0; }

.bgcl-gr40 {
  background-color: #dedede; }

.bgcl-gr40--hover:hover {
  background-color: #dedede; }

.brd-solid {
  border: 1px solid; }

.brd-0 {
  border: 0; }

.brd-t-solid {
  border-top: 1px solid; }

.brd-t-0 {
  border-top: 0; }

.brd-r-solid {
  border-right: 1px solid; }

.brd-r-0 {
  border-right: 0; }

.brd-b-solid {
  border-bottom: 1px solid; }

.brd-b-0 {
  border-bottom: 0; }

.brd-l-solid {
  border-left: 1px solid; }

.brd-l-0 {
  border-left: 0; }

.brcl-gr20 {
  border-color: #fbfbfb; }

.brcl-gr30 {
  border-color: #f0f0f0; }

.brcl-gr40 {
  border-color: #dedede; }

.brcl-gr50 {
  border-color: #bbb; }

.brwd-def {
  border-width: 1px; }

.brwd-0 {
  border-width: 0; }

.brwd-t-def {
  border-top-width: 1px; }

.brwd-t-0 {
  border-top-width: 0; }

.brwd-b-def {
  border-bottom-width: 1px; }

.brwd-b-0 {
  border-bottom-width: 0; }

.brwd-l-def {
  border-left-width: 1px; }

.brwd-l-0 {
  border-left-width: 0; }

.brwd-r-def {
  border-right-width: 1px; }

.brwd-r-0 {
  border-right-width: 0; }

.bxsh-b-def {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03); }

.trn-all-slow {
  transition: all 0.6s ease-in-out; }

.trn-all {
  transition: all 0.3s ease-in-out; }

.crs-pointer {
  cursor: pointer; }

.crs-default {
  cursor: default; }

._row {
  display: block;
  padding: 0;
  box-sizing: border-box; }
  ._row::after {
    content: "";
    display: table;
    clear: both; }

._gutter {
  position: relative; }

._row._reverse [class*="_col-"] {
  float: right; }

._row._column [class*="_col-"] {
  clear: both; }

[class*="_cols-"] {
  list-style: none; }

[class*="_col-"], [class*="_cols-"] > * {
  float: left;
  display: block;
  box-sizing: border-box;
  min-height: 1px; }

._gutter {
  margin-left: -2%; }

._gutter [class*="_col-"], ._gutter[class*="_cols-"] > * {
  padding-left: 2%; }

._col-auto, ._cols-auto > * {
  width: auto; }

._col-1, ._cols-1 > * {
  width: 8.33333%; }

._col-2, ._cols-2 > * {
  width: 16.66667%; }

._col-3, ._cols-3 > * {
  width: 25%; }

._col-4, ._cols-4 > * {
  width: 33.33333%; }

._col-5, ._cols-5 > * {
  width: 41.66667%; }

._col-6, ._cols-6 > * {
  width: 50%; }

._col-7, ._cols-7 > * {
  width: 58.33333%; }

._col-8, ._cols-8 > * {
  width: 66.66667%; }

._col-9, ._cols-9 > * {
  width: 75%; }

._col-10, ._cols-10 > * {
  width: 83.33333%; }

._col-11, ._cols-11 > * {
  width: 91.66667%; }

._col-12, ._cols-12 > * {
  width: 100%; }

._center-x {
  margin-left: auto;
  margin-right: auto;
  float: none; }

._uncenter-x {
  margin-left: 0;
  margin-right: 0;
  float: left; }

._offs-1 {
  margin-left: 8.33333%; }

._offs-2 {
  margin-left: 16.66667%; }

._offs-3 {
  margin-left: 25%; }

._offs-4 {
  margin-left: 33.33333%; }

._offs-5 {
  margin-left: 41.66667%; }

._offs-6 {
  margin-left: 50%; }

._offs-7 {
  margin-left: 58.33333%; }

._offs-8 {
  margin-left: 66.66667%; }

._offs-9 {
  margin-left: 75%; }

._offs-10 {
  margin-left: 83.33333%; }

._offs-11 {
  margin-left: 91.66667%; }

._offs-12 {
  margin-left: 100%; }

._unoffs {
  margin-left: 0;
  margin-right: 0; }

@media screen and (max-width: 75em) {
  ._gutter {
    margin-left: -2%; }

  ._gutter [class*="_col-"], ._gutter[class*="_cols-"] > * {
    padding-left: 2%; }

  .laptop_col-auto, .laptop_cols-auto > * {
    width: auto; }

  .laptop_col-1, .laptop_cols-1 > * {
    width: 8.33333%; }

  .laptop_col-2, .laptop_cols-2 > * {
    width: 16.66667%; }

  .laptop_col-3, .laptop_cols-3 > * {
    width: 25%; }

  .laptop_col-4, .laptop_cols-4 > * {
    width: 33.33333%; }

  .laptop_col-5, .laptop_cols-5 > * {
    width: 41.66667%; }

  .laptop_col-6, .laptop_cols-6 > * {
    width: 50%; }

  .laptop_col-7, .laptop_cols-7 > * {
    width: 58.33333%; }

  .laptop_col-8, .laptop_cols-8 > * {
    width: 66.66667%; }

  .laptop_col-9, .laptop_cols-9 > * {
    width: 75%; }

  .laptop_col-10, .laptop_cols-10 > * {
    width: 83.33333%; }

  .laptop_col-11, .laptop_cols-11 > * {
    width: 91.66667%; }

  .laptop_col-12, .laptop_cols-12 > * {
    width: 100%; }

  .laptop_center-x {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .laptop_uncenter-x {
    margin-left: 0;
    margin-right: 0;
    float: left; } }
@media screen and (max-width: 62em) {
  ._gutter {
    margin-left: -2%; }

  ._gutter [class*="_col-"], ._gutter[class*="_cols-"] > * {
    padding-left: 2%; }

  .tablet_col-auto, .tablet_cols-auto > * {
    width: auto; }

  .tablet_col-1, .tablet_cols-1 > * {
    width: 8.33333%; }

  .tablet_col-2, .tablet_cols-2 > * {
    width: 16.66667%; }

  .tablet_col-3, .tablet_cols-3 > * {
    width: 25%; }

  .tablet_col-4, .tablet_cols-4 > * {
    width: 33.33333%; }

  .tablet_col-5, .tablet_cols-5 > * {
    width: 41.66667%; }

  .tablet_col-6, .tablet_cols-6 > * {
    width: 50%; }

  .tablet_col-7, .tablet_cols-7 > * {
    width: 58.33333%; }

  .tablet_col-8, .tablet_cols-8 > * {
    width: 66.66667%; }

  .tablet_col-9, .tablet_cols-9 > * {
    width: 75%; }

  .tablet_col-10, .tablet_cols-10 > * {
    width: 83.33333%; }

  .tablet_col-11, .tablet_cols-11 > * {
    width: 91.66667%; }

  .tablet_col-12, .tablet_cols-12 > * {
    width: 100%; }

  .tablet_center-x {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .tablet_uncenter-x {
    margin-left: 0;
    margin-right: 0;
    float: left; } }
@media screen and (max-width: 48em) {
  ._gutter {
    margin-left: -2%; }

  ._gutter [class*="_col-"], ._gutter[class*="_cols-"] > * {
    padding-left: 2%; }

  .mobile_col-auto, .mobile_cols-auto > * {
    width: auto; }

  .mobile_col-1, .mobile_cols-1 > * {
    width: 8.33333%; }

  .mobile_col-2, .mobile_cols-2 > * {
    width: 16.66667%; }

  .mobile_col-3, .mobile_cols-3 > * {
    width: 25%; }

  .mobile_col-4, .mobile_cols-4 > * {
    width: 33.33333%; }

  .mobile_col-5, .mobile_cols-5 > * {
    width: 41.66667%; }

  .mobile_col-6, .mobile_cols-6 > * {
    width: 50%; }

  .mobile_col-7, .mobile_cols-7 > * {
    width: 58.33333%; }

  .mobile_col-8, .mobile_cols-8 > * {
    width: 66.66667%; }

  .mobile_col-9, .mobile_cols-9 > * {
    width: 75%; }

  .mobile_col-10, .mobile_cols-10 > * {
    width: 83.33333%; }

  .mobile_col-11, .mobile_cols-11 > * {
    width: 91.66667%; }

  .mobile_col-12, .mobile_cols-12 > * {
    width: 100%; }

  .mobile_center-x {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .mobile_uncenter-x {
    margin-left: 0;
    margin-right: 0;
    float: left; } }
._container {
  padding-left: 15px;
  padding-right: 15px;
  min-width: 640px; }

._container {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

._container {
  width: 1060px; }

@media screen and (max-width: 75em) {
  ._container, .laptop_container {
    width: 910px; } }
@media screen and (max-width: 62em) {
  ._container, .tablet_container {
    width: 700px; } }
@media screen and (max-width: 48em) {
  ._container, .mobile_container {
    width: 100%; } }
.t-0 {
  top: 0; }

.t-auto {
  top: auto; }

.t-def {
  top: 1.5rem; }

.t-xxlg {
  top: 10.5rem; }

.t-xlg {
  top: 7.5rem; }

.t-lg {
  top: 6rem; }

.t-md {
  top: 4.5rem; }

.t-sm {
  top: 3rem; }

.t-nsm {
  top: -3rem; }

.t-xsm {
  top: 0.75rem; }

.t-xxsm {
  top: 0.375rem; }

.r-0 {
  right: 0; }

.r-auto {
  right: auto; }

.r-def {
  right: 1.5rem; }

.r-xxlg {
  right: 10.5rem; }

.r-xlg {
  right: 7.5rem; }

.r-lg {
  right: 6rem; }

.r-md {
  right: 4.5rem; }

.r-sm {
  right: 3rem; }

.r-nsm {
  right: -3rem; }

.r-xsm {
  right: 0.75rem; }

.r-xxsm {
  right: 0.375rem; }

.b-0 {
  bottom: 0; }

.b-auto {
  bottom: auto; }

.b-def {
  bottom: 1.5rem; }

.b-xxlg {
  bottom: 10.5rem; }

.b-xlg {
  bottom: 7.5rem; }

.b-lg {
  bottom: 6rem; }

.b-md {
  bottom: 4.5rem; }

.b-sm {
  bottom: 3rem; }

.b-nsm {
  bottom: -3rem; }

.b-xsm {
  bottom: 0.75rem; }

.b-xxsm {
  bottom: 0.375rem; }

.l-0 {
  left: 0; }

.l-auto {
  left: auto; }

.l-def {
  left: 1.5rem; }

.l-xxlg {
  left: 10.5rem; }

.l-xlg {
  left: 7.5rem; }

.l-lg {
  left: 6rem; }

.l-md {
  left: 4.5rem; }

.l-sm {
  left: 3rem; }

.l-nsm {
  left: -3rem; }

.l-xsm {
  left: 0.75rem; }

.l-xxsm {
  left: 0.375rem; }

.mrg-0 {
  margin: 0; }

.mrg-auto {
  margin: auto; }

.mrg-def {
  margin: 1.5rem; }

.mrg-xxlg {
  margin: 10.5rem; }

.mrg-xlg {
  margin: 7.5rem; }

.mrg-lg {
  margin: 6rem; }

.mrg-md {
  margin: 4.5rem; }

.mrg-sm {
  margin: 3rem; }

.mrg-xsm {
  margin: 0.75rem; }

.mrg-xxsm {
  margin: 0.375rem; }

.mrg-t-0 {
  margin-top: 0; }

.mrg-t-auto {
  margin-top: auto; }

.mrg-t-def {
  margin-top: 1.5rem; }

.mrg-t-xxlg {
  margin-top: 10.5rem; }

.mrg-t-xlg {
  margin-top: 7.5rem; }

.mrg-t-lg {
  margin-top: 6rem; }

.mrg-t-md {
  margin-top: 4.5rem; }

.mrg-t-sm {
  margin-top: 3rem; }

.mrg-t-xsm {
  margin-top: 0.75rem; }

.mrg-t-xxsm {
  margin-top: 0.375rem; }

.mrg-r-0 {
  margin-right: 0; }

.mrg-r-auto {
  margin-right: auto; }

.mrg-r-def {
  margin-right: 1.5rem; }

.mrg-r-xxlg {
  margin-right: 10.5rem; }

.mrg-r-xlg {
  margin-right: 7.5rem; }

.mrg-r-lg {
  margin-right: 6rem; }

.mrg-r-md {
  margin-right: 4.5rem; }

.mrg-r-sm {
  margin-right: 3rem; }

.mrg-r-xsm {
  margin-right: 0.75rem; }

.mrg-r-xxsm {
  margin-right: 0.375rem; }

.mrg-b-0 {
  margin-bottom: 0; }

.mrg-b-auto {
  margin-bottom: auto; }

.mrg-b-def {
  margin-bottom: 1.5rem; }

.mrg-b-xxlg {
  margin-bottom: 10.5rem; }

.mrg-b-xlg {
  margin-bottom: 7.5rem; }

.mrg-b-lg {
  margin-bottom: 6rem; }

.mrg-b-md {
  margin-bottom: 4.5rem; }

.mrg-b-sm {
  margin-bottom: 3rem; }

.mrg-b-xsm {
  margin-bottom: 0.75rem; }

.mrg-b-xxsm {
  margin-bottom: 0.375rem; }

.mrg-l-0 {
  margin-left: 0; }

.mrg-l-auto {
  margin-left: auto; }

.mrg-l-def {
  margin-left: 1.5rem; }

.mrg-l-xxlg {
  margin-left: 10.5rem; }

.mrg-l-xlg {
  margin-left: 7.5rem; }

.mrg-l-lg {
  margin-left: 6rem; }

.mrg-l-md {
  margin-left: 4.5rem; }

.mrg-l-sm {
  margin-left: 3rem; }

.mrg-l-xsm {
  margin-left: 0.75rem; }

.mrg-l-xxsm {
  margin-left: 0.375rem; }

.pdd-0 {
  padding: 0; }

.pdd-def {
  padding: 1.5rem; }

.pdd-xxlg {
  padding: 10.5rem; }

.pdd-xlg {
  padding: 7.5rem; }

.pdd-lg {
  padding: 6rem; }

.pdd-md {
  padding: 4.5rem; }

.pdd-sm {
  padding: 3rem; }

.pdd-xsm {
  padding: 0.75rem; }

.pdd-xxsm {
  padding: 0.375rem; }

.pdd-t-0 {
  padding-top: 0; }

.pdd-t-def {
  padding-top: 1.5rem; }

.pdd-t-xxlg {
  padding-top: 10.5rem; }

.pdd-t-xlg {
  padding-top: 7.5rem; }

.pdd-t-lg {
  padding-top: 6rem; }

.pdd-t-md {
  padding-top: 4.5rem; }

.pdd-t-sm {
  padding-top: 3rem; }

.pdd-t-xsm {
  padding-top: 0.75rem; }

.pdd-t-xxsm {
  padding-top: 0.375rem; }

.pdd-r-0 {
  padding-right: 0; }

.pdd-r-def {
  padding-right: 1.5rem; }

.pdd-r-xxlg {
  padding-right: 10.5rem; }

.pdd-r-xlg {
  padding-right: 7.5rem; }

.pdd-r-lg {
  padding-right: 6rem; }

.pdd-r-md {
  padding-right: 4.5rem; }

.pdd-r-sm {
  padding-right: 3rem; }

.pdd-r-xsm {
  padding-right: 0.75rem; }

.pdd-r-xxsm {
  padding-right: 0.375rem; }

.pdd-b-0 {
  padding-bottom: 0; }

.pdd-b-def {
  padding-bottom: 1.5rem; }

.pdd-b-xxlg {
  padding-bottom: 10.5rem; }

.pdd-b-xlg {
  padding-bottom: 7.5rem; }

.pdd-b-lg {
  padding-bottom: 6rem; }

.pdd-b-md {
  padding-bottom: 4.5rem; }

.pdd-b-sm {
  padding-bottom: 3rem; }

.pdd-b-xsm {
  padding-bottom: 0.75rem; }

.pdd-b-xxsm {
  padding-bottom: 0.375rem; }

.pdd-l-0 {
  padding-left: 0; }

.pdd-l-def {
  padding-left: 1.5rem; }

.pdd-l-xxlg {
  padding-left: 10.5rem; }

.pdd-l-xlg {
  padding-left: 7.5rem; }

.pdd-l-lg {
  padding-left: 6rem; }

.pdd-l-md {
  padding-left: 4.5rem; }

.pdd-l-sm {
  padding-left: 3rem; }

.pdd-l-xsm {
  padding-left: 0.75rem; }

.pdd-l-xxsm {
  padding-left: 0.375rem; }

.h-0 {
  height: 0; }

.h-100 {
  height: 100%; }

.h-auto {
  height: auto; }

.h-def {
  height: 1.5rem; }

.h-xxlg {
  height: 10.5rem; }

.h-xlg {
  height: 7.5rem; }

.h-lg {
  height: 6rem; }

.h-md {
  height: 4.5rem; }

.h-sm {
  height: 3rem; }

.h-xsm {
  height: 0.75rem; }

.h-xxsm {
  height: 0.375rem; }

.w-0 {
  width: 0; }

.w-100 {
  width: 100%; }

.w-auto {
  width: auto; }

.w-def {
  width: 1.5rem; }

.w-xxlg {
  width: 10.5rem; }

.w-xlg {
  width: 7.5rem; }

.w-lg {
  width: 6rem; }

.w-md {
  width: 4.5rem; }

.w-sm {
  width: 3rem; }

.w-xsm {
  width: 0.75rem; }

.w-xxsm {
  width: 0.375rem; }

.pst-fixed {
  position: fixed; }

.pst-relative {
  position: relative; }

.pst-absolute {
  position: absolute; }

.z-1000 {
  z-index: 1000; }

.z-100 {
  z-index: 100; }

.z-10 {
  z-index: 10; }

.z-1 {
  z-index: 1; }

.z-0 {
  z-index: 0; }

.z-n1 {
  z-index: -1; }

.dsp-none {
  display: none; }

.dsp-block {
  display: block; }

.dsp-inline {
  display: inline; }

.dsp-inline-block {
  display: inline-block; }

.dsp-flex {
  display: flex; }

.flt-left {
  float: left; }

.flt-right {
  float: right; }

.flt-none {
  float: none; }

.vsb-visible {
  visibility: visible; }

.vsb-hidden {
  visibility: hidden; }

.opc-0 {
  opacity: 0; }

.opc-xsm {
  opacity: 0.1; }

.opc-sm {
  opacity: 0.3; }

.opc-md {
  opacity: 0.4; }

.opc-lg {
  opacity: 0.6; }

.opc-xlg {
  opacity: 0.7; }

.opc-1 {
  opacity: 1; }

.opc-1--hover:hover {
  opacity: 1; }

.vral-top {
  vertical-align: top; }

.vral-middle {
  vertical-align: middle; }

.vral-bottom {
  vertical-align: bottom; }

@media screen and (max-width: 48em) {
  .mobile_t-0 {
    top: 0; }

  .mobile_r-0 {
    right: 0; }

  .mobile_b-0 {
    bottom: 0; }

  .mobile_l-0 {
    left: 0; }

  .mobile_pst-fixed {
    position: fixed; }

  .mobile_pst-relative {
    position: relative; }

  .mobile_pst-absolute {
    position: absolute; }

  .mobile_dsp-none {
    display: none; }

  .mobile_dsp-block {
    display: block; }

  .mobile_dsp-inline {
    display: inline; }

  .mobile_dsp-inline-block {
    display: inline-block; }

  .mobile_dsp-flex {
    display: flex; }

  .mobile_vsb-visible {
    visibility: visible; }

  .mobile_vsb-hidden {
    visibility: hidden; } }
@media screen and (max-width: 75em) {
  .laptop_pst-fixed {
    position: fixed; }

  .laptop_pst-relative {
    position: relative; }

  .laptop_pst-absolute {
    position: absolute; }

  .laptop_dsp-none {
    display: none; }

  .laptop_dsp-block {
    display: block; }

  .laptop_dsp-inline {
    display: inline; }

  .laptop_dsp-inline-block {
    display: inline-block; }

  .laptop_dsp-flex {
    display: flex; }

  .laptop_vsb-visible {
    visibility: visible; }

  .laptop_vsb-hidden {
    visibility: hidden; } }
@media screen and (max-width: 62em) {
  .tablet_pst-fixed {
    position: fixed; }

  .tablet_pst-relative {
    position: relative; }

  .tablet_pst-absolute {
    position: absolute; }

  .tablet_dsp-none {
    display: none; }

  .tablet_dsp-block {
    display: block; }

  .tablet_dsp-inline {
    display: inline; }

  .tablet_dsp-inline-block {
    display: inline-block; }

  .tablet_dsp-flex {
    display: flex; }

  .tablet_vsb-visible {
    visibility: visible; }

  .tablet_vsb-hidden {
    visibility: hidden; } }
