﻿/*!
 * Name: KAMAZ Audit System styles
 */

// Elementcss
// ===================================================
@import "elementcss/_core";

// Globals
// ===================================================
$_font-family-sans: Exo, "Helvetica Neue", Helvetica, Arial, sans-serif;
$_font-family-serif: Georgia, "Times New Roman", Times, serif;
// bootstrap's font-size 14px, line-height 1.4
$calc-line-baseline: 8px;
$calc-line-threshold: 100%;
$_font-size: 14px;
$_line-height: calc-line(22px);
$m: em (    // default device media map
    laptop: '@media screen and (max-width: 1200px)',
    tablet: '@media screen and (max-width: 992px)',
    mobile: '@media screen and (max-width: 768px)',
    );

// Base styles
// ===================================================
::selection {
    background-color: #eee;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 100%;
}

body {
    min-width: 640px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: $_font-family-sans;
    font-size: $_font-size;
    line-height: round-length($_line-height, em);
    //@include media(tablet, $media) { font-size: 14px; }
    //@include media(mobile, $media) { font-size: 13px; }
}

._body {
    padding-top:15px; 
    min-height:280px;
}

// overwrite Bootrstrap
h1, h2, h3, h4, h5, h6 {
    font-family: $_font-family-sans; 
    font-weight: bold;
}

// overwrite Bootrstrap
._body > *:first-child {
    margin-top: 5px;
}

@include font-face(Exo, "../fonts/exo2-light", eot ttf woff woff2);

// Components
// ===================================================
@import 'components/_type.scss';
@import 'components/_palette.scss';
@import 'components/_styling.scss';
@import 'components/_layout.scss';
//@import 'components/_helper.scss';
