﻿@{
    ViewBag.Title = "Главная";
}

<div class="_row">
    <div class="_col-12 pdd-xsm bgcl-gr20 brd-solid brcl-gr30">
        <h2 class="mrg-t-0">Главная</h2>
        <p class="txal-justify">Добро пожаловать в систему. Выберите нужный раздел для перехода к соответствующему действию. Также вы можете воспользоваться навигатором слева.</p>
    </div>
</div>

<div class="_row _gutter">
    <div class="_col-4 tablet_col-12">
        <h3>Работа с аудитами</h3>
        <p class="txal-justify">
            Просмотр списка аудитов, создание новых, изменение и проведение существующих аудитов.
        </p>
        <p>
            <a class="btn btn-default mrg-r-xxsm" href="@Url.Action("Index", "Audits")">Перейти &raquo;</a>
            <a class="btn btn-default" href="@Url.Action("Create", "Audits")">Провести &raquo;</a>
        </p>
    </div>
    <div class="_col-4 tablet_col-6 mobile_col-12">
        <h3>Сформировать отчет</h3>
        <p class="txal-justify">
            Детализированый отчет из готовых шаблонов подсистемы по проведенным аудитам.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Reports")">Перейти &raquo;</a>
        </p>
    </div>
    <div class="_col-4 tablet_col-6 mobile_col-12">
        <h3>Работа с чек-листами</h3>
        <p class="txal-justify">
            Заполнение результатов аудита (чек-листа), создание и корректировка чек-листов.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "CheckLists")">Перейти &raquo;</a>
        </p>
    </div>
    @* row seperator *@
    <div class="_col-12 tablet_dsp-none"></div>
    <div class="_col-4 tablet_col-6 mobile_col-12">
        <h3>Работа с пользователями</h3>
        <p class="txal-justify">Выбор сотрудника по подразделению, назначение роли, изменение данных и уведомление по email.</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Employees")">Перейти &raquo;</a>
        </p>
    </div>
    <div class="_col-4 tablet_col-6 mobile_col-12">
        <h3>Управление структурой предприятия</h3>
        <p class="txal-justify">Создание дерева подразделений с указанием наименования подразделения и его руководителя.</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Subdivisions")">Перейти &raquo;</a>
        </p>
    </div>
    <div class="_col-4 tablet_col-6 mobile_col-12">
        <h3>Управление расписанием аудитов</h3>
        <p class="txal-justify">Создание расписания аудитов с указанием наименования подразделения и чек-листа.</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Timetable")">Перейти &raquo;</a>
        </p>
    </div>
    <div class="_col-4 tablet_col-6 mobile_col-12">
        <h3>Конфигурация e-mail сервера</h3>
        <p class="txal-justify">Настройка параметров сервера отправления e-mail уведомлений.</p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Update", "MailConfig")">Перейти &raquo;</a>
        </p>
    </div>
</div>