﻿@model EvaluatedParameter

<tr data-html-field-prefix="qwe">
    <td class="col-md-6">
        @Html.DisplayFor(model => model.Parameter.Name, new { htmlAttributes = new { @class = "form-control parameter-input" } })
    </td>
    <td class="col-md-2">
        @* data-val="true" data-val-number="The field Value must be a number." data-val-required="The Value field is required."  *@
        <input class="form-control parameter-input text-box single-line" name="@("Value." + Model.Parameter.SectionID + "." + Model.Parameter.ID)" 
               type="number" max="@Model.Parameter.MaxValue" min="0" value="@Model.Value" @(ViewBag.Locked == true ? "readonly" : "")>
    </td>
    <td class="col-md-4">
        <input class="form-control parameter-input text-box single-line" id="" name="@("Actions." + Model.Parameter.SectionID + "." + Model.Parameter.ID)" 
               type="text" value="@Model.Actions" placeholder="Примечания и действия" @(ViewBag.Locked == true ? "readonly" : "")>
    </td>
</tr>