﻿@model EvaluatedSection

<div class="panel panel-default" style="padding: 0 15px;">
    <div class="section-title-block">
        <div class="inline-block section-title fnwg-bold pdd-t-xsm">
            @Html.DisplayFor(model => model.Section.Name, "Имя раздела: ", new { @class = "" })
        </div>
    </div>

    <div>
        <table class="table table-bordered checklist-parameters-table" style="margin-bottom:5px;">
            <thead>
                <tr>
                    <th class="col-md-6">Параметры проверки</th>
                    <th class="col-md-2">Оценка</th>
                    <th class="col-md-4">План мероприятий</th>
                </tr>
            </thead>
            <tbody class="js-parameters-body">
                @if (Model.Section != null && Model.Section.Parameters != null && Model.Section.Parameters.Count() > 0)
                {
                    <input type="hidden" name="@("NumberOfParams."+ Model.Section.ID)" value="@Model.Section.Parameters.Count()" />
                    foreach (var parameter in Model.Section.Parameters)
                    {
                        var filledParameter = Model.EvaluatedParameters.Where(s => s.ParameterID == parameter.ID).FirstOrDefault();
                        if (filledParameter != null) {
                            filledParameter.Parameter = parameter;
                        }
                        @Html.Partial("_AddParameter", filledParameter == null ? new EvaluatedParameter() { Parameter = parameter } : filledParameter)
                    }
                }
            </tbody>
        </table>
        <div style="padding-bottom:5px;" class="c-gr40">Итого баллов: @Model.Grade, Максимальный бал: @Model.MaxGrade</div>
    </div>
</div>
