﻿@model Audits.Models.Database_Manager.Audit
@Styles.Render("~/Content/styles/flatpickr.min.css")
@Scripts.Render("~/Scripts/flatpickr.js")

@{ 
    ViewBag.Locked = Model.ID != 0 && !Model.IsEditable;
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="row">
        <div class="col-md-11">
            <div class="alert alert-success">@Html.Raw(ViewBag.SuccessMessage)</div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-11">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @* [readonly] Auditor First Last Patro name *@
                <div class="form-group">
                    @Html.LabelFor(model => model.Auditor, "Аудитор", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Auditor" value="@Model.Auditor.LastName @Model.Auditor.FirstName @Model.Auditor.Patronymic" readonly />
                    </div>
                </div>

                @* [readonly] Input date *@
                <div class="form-group">
                    @Html.LabelFor(model => model.InputDate, "Дата ввода", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InputDate, new { htmlAttributes = new { @class = "form-control", @Value = Model.InputDate.ToString("yyyy-MM-dd"), @readonly = "readonly" } })
                    </div>
                </div>

                @* Time picker & Conduct date (default date see at the end of page, flatpickr) *@
                <div class="form-group">
                    <label class="control-label col-md-2" for="Date">Дата проведения @(ViewBag.Locked == true ? Html.Raw("") : Html.Raw("<span class=\"c-rd50\">*</span>"))</label>
                    <div class="col-md-10">
                        @if (ViewBag.Locked)
                        {
                            <input class="form-control" id="Date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" readonly />
                        }
                        else
                        {
                            <div class="panel panel-default" style="padding:0; border:0; box-shadow:none; margin-bottom:0;">
                                <div class="panel-body" style="padding:0;">
                                    <div class="input-group" id="inputDate">
                                        <input class="form-control" placeholder="Выберите дату" data-input data-val="true" id="Date" name="Date" type="datetime" />
                                        <div class="input-group-addon" data-clear><span class="glyphicon glyphicon-remove"></span></div>
                                    </div>
                                </div>
                                @Html.ValidationMessage("_Date", new { @class = "text-danger" })
                            </div>
                        }
                    </div>
                </div>

                @* Attendies *@
                <div class="form-group">
                    @Html.LabelFor(model => model.Attendees, "Сопровождающие", htmlAttributes: new { @class = "control-label col-md-2" })
                    @if (ViewBag.Locked)
                    {
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Attendees, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        </div>
                    } else
                    {
                        <div class="col-md-10"> @* Type Attendee name *@
                            @Html.EditorFor(model => model.Attendees, new { htmlAttributes = new { @class = "form-control", placeholder = "Иванов И.И. (роль)" } })
                        </div>
                        <!--<div class="col-md-4"> @* Select Attendee role *@
                            <div class="pst-absolute l-0 t-xxsm c-gr50">(</div>
                            <div class="pst-absolute r-0 t-xxsm c-gr50">)</div>
                            Html.DropDownList("Role", null, htmlAttributes: new { class = "form-control crs-default", readonly = ""})
                        </div>
                        <div class="col-md-1"> @* Add Attendee button *@
                            <div class="w-100 btn btn-success disabled" id="js-add-attendees">
                                <span style="font-size:0.6rem;" class="glyphicon glyphicon-plus"></span>
                            </div>
                        </div>-->
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ValidationMessageFor(model => model.Attendees, "", new { @class = "text-danger" })
                        </div>
                    }
                </div>

                @* Subdivision code *@
                <div class="form-group">
                    <label class="control-label col-md-2" for="SubdivisionID">Подразделение @(ViewBag.Locked == true ? Html.Raw("") : Html.Raw("<span class=\"c-rd50\">*</span>"))</label>
                    <div class="col-md-10">
                        @if (ViewBag.Locked)
                        {
                            <input class="form-control" id="SubdivisionID" value="@Model.Subdivision.Name" readonly />
                            @Html.HiddenFor(model => model.SubdivisionID, "") @* temp *@
                        }
                        else
                        {
                            @Html.DropDownList("SubdivisionID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SubdivisionID, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>

                @* Choose checklist *@
                <div class="form-group">
                    <label class="control-label col-md-2" for="ChecklistID">Выбор чек-листа @(ViewBag.Locked == true ? Html.Raw("") : Html.Raw("<span class=\"c-rd50\">*</span>"))</label>
                    <div class="col-md-10">
                        @if (ViewBag.Locked)
                        {
                            <input class="form-control" id="ChecklistID" value="@Model.Checklist.Name" readonly />
                            @Html.HiddenFor(model => model.ChecklistID, "") @* temp *@
                        }
                        else
                        {
                            @Html.DropDownList("ChecklistID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ChecklistID, "", new { @class = "text-danger" })
                        }
                    </div>
                </div>
                @* If checklist is changed *@
                @if (Model.Checklist != null) {
                <script>
                    window.onload = function () {
                        $('#ChecklistID').on('change', function () {
                            // ask to confirm if the action wasn't yet performed
                            if ($("#section-container").length) {
                                if(confirm("Смена чек-листа приведет к потере данных в текущем чек-листе. Продожить?")) {
                                    // remove typed data
                                    $("#section-container").remove();
                                    $("#js-submit").attr("value", "Продолжить");
                                    $("#js-move-col").addClass("col-md-offset-2");
                                    $("#js-move-col").removeClass("col-md-10");
                                    $("#js-move-col").addClass("col-md-8");
                                    var checkbox = $("#IsEditable");
                                    checkbox.attr("type", "hidden");
                                    checkbox.next().next().hide()
                                    $("label[for='IsEditable']").hide();
                                }
                            } 
                        });
                    }
                </script>
                }

                @* Show checklist's sections and parameters *@
                @if (Model.Checklist != null && Model.Checklist.Sections.Count() > 0)
                {
                    <div id="section-container">
                        <input type="hidden" name="NumberOfSections" value="@Model.Checklist.Sections.Count()" />
                        @foreach (var section in Model.Checklist.Sections)
                        {
                            var filledSection = Model.EvaluatedSections.Where(s => s.SectionID == section.ID).FirstOrDefault();
                            if (filledSection != null)
                            {
                                filledSection.Section = section;
                            }
                            @Html.Partial("_AddSection", filledSection == null ? new EvaluatedSection() { Section = section } : filledSection)
                        }
                        @Html.ValidationMessage("_Summary", new { @class = "text-danger pdd-b-xsm dsp-block" })
                    </div>

                    @* Checkbox if entry should be editable or not *@
                    if (!ViewBag.Locked)
                    {
                        @Html.CheckBoxFor(m => m.IsEditable, "")<i>&nbsp;</i>
                        @Html.LabelFor(model => model.IsEditable, "После " + (ViewBag.Action == "Edit" ? "обновления" : "создания") + " не блокировать редактирование (убрав галочку - отменить невозможно)", new { @class = "pst-relative", style = "top:-2px", @checked = "checked" })
                    }
                }
                else // preserve IsEditable to be true on the very first step
                {
                    @Html.HiddenFor(model => model.IsEditable) 
                }


                @* SUBMIT *@
                <div class="form-group">
                    <div id="js-move-col" class="@(Model.Checklist != null ? "" : "col-md-offset-2") col-md-10">
                        @if (!ViewBag.Locked)
                        {
                            if (ViewBag.Action != null && ViewBag.Action == "Create") // action == Create
                            {
                                <input id="js-submit" type="submit" value="@(Model.Checklist != null ? "Создать" : "Продолжить")" class="btn btn-success" />
                            }
                            else // action == Edit
                            {
                                <input id="js-submit" type="submit" value="Обновить" class="btn btn-primary mrg-r-xsm" />
                            }
                        }
                    </div>
                    @* Add Delete button on Audits/Edit *@
                    @if (ViewBag.Action != null && ViewBag.Action == "Edit")
                    {
                        <div class="col-md-2 txal-right">
                            <button type="submit" name="action_delete" class="btn btn-danger">Удалить</button>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
@{
    // if no POST has been yet - use ViewBag.Today ("now" from server)
    var year = Model.InputDate.Year;
    var month = Model.InputDate.Month;
    var day = Model.InputDate.Day;
    var hour = Model.InputDate.Hour - 1; // suggest Date to be one hour earlier
    var minute = Model.InputDate.Minute;
    var second = Model.InputDate.Second;

    // else use datetime from POST[Date], i.e. js date picker
    if (Model != null && Model.Date != null)
    {
        year = Model.Date.Year;
        month = Model.Date.Month;
        day = Model.Date.Day;
        hour = Model.Date.Hour;
        minute = Model.Date.Minute;
        second = Model.Date.Second;
    }
}
<script>
    //Calendar initalize
    flatpickr("#inputDate", {
        enableTime: true,
        time_24hr: true,
        allowInput: true,
        altInput: true,
        maxDate: new Date(@(Model.InputDate.Year), @(Model.InputDate.Month - 1), @(Model.InputDate.Day), @(Model.InputDate.Hour), @(Model.InputDate.Minute), @(Model.InputDate.Second)),
        altFormat: 'Y-m-d',   // display format
        dateFormat: 'd/m/Y H:i:S',  // input format
        defaultDate: new Date(@(year), @(month - 1), @(day), @(hour), @(minute), @(second)),
        wrap: true,
    });
</script>
