﻿@model Audits.Models.Database_Manager.Audit

@functions{
    /* Global structure for store names and scores
     * for convert to JSON object and using in chart JS module
     */
    struct SectionScore
    {
        public string Name;
        public double OldScore;
        public double NewScore;
    };
}
@{
    //Global variable
    var avgScore = 0.0;
    var sectionsScore = new List<SectionScore>();

    // checks for audit validation
    bool isProvenByKRPS = false;
    bool isProvenByTrusted = false;

    if (Model.ValidatedAudit != null && Model.ValidatedAudit.ValidatedAudit != null)
    {
        isProvenByKRPS = true;
    }
    else if (Model.ValidatedAudit != null)
    {
        isProvenByTrusted = true;
    }
}

@Scripts.Render("~/Scripts/jchart.bundle.js")
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Раздел</th>
            <th>№</th>
            <th>Параметры проверки</th>
            <th>Оценка</th>
            @if (isProvenByTrusted || isProvenByKRPS)
            {
                <th>Подтвержденная оценка</th>
            }
            <th>План мероприятий</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var section in Model.EvaluatedSections)
            {
                int paramsCount = section.EvaluatedParameters.Count() + 3;
            <tr>
                <th scope="col" rowspan="@Html.DisplayTextFor(x => paramsCount)">@Html.DisplayTextFor(x => section.Section.Name)</th>
            </tr>
            foreach (var parameter in section.EvaluatedParameters)
            {
                <tr>
                    <td style="vertical-align:middle;">@Html.DisplayTextFor(x => parameter.Parameter.OrdinalNumber)</td>
                    <td style="vertical-align:middle;">@Html.DisplayTextFor(x => parameter.Parameter.Name)</td>
                    <td style="vertical-align:middle;">@Html.DisplayTextFor(x => parameter.Value)</td>
                    @if (isProvenByKRPS)
                    {
                        <td style="vertical-align:middle;">
                            @Html.DisplayTextFor(x => (from p in
                                                            (
                                                            from s in
                                                                Model.ValidatedAudit.ValidatedAudit.EvaluatedSections
                                                            where s.SectionID == section.SectionID
                                                            select s).FirstOrDefault().EvaluatedParameters
                                                       where p.ParameterID == parameter.ParameterID
                                                       select p).FirstOrDefault().Value)
                        </td>
                    }
                    else if (isProvenByTrusted)
                    {
                        <td style="vertical-align:middle;">
                            @Html.DisplayTextFor(x => (from p in
                                                            (
                                                            from s in
                                                                Model.ValidatedAudit.EvaluatedSections
                                                            where s.SectionID == section.SectionID
                                                            select s).FirstOrDefault().EvaluatedParameters
                                                       where p.ParameterID == parameter.ParameterID
                                                       select p).FirstOrDefault().Value)
                        </td>
                    }
                    <td style="vertical-align:middle;">@Html.DisplayTextFor(x => parameter.Actions)</td>
                </tr>
            }
            <tr>
                <td colspan="2" align="center"><b>Оцениваемых пунктов</b></td>
                <td style="vertical-align:middle;">@Html.DisplayFor(x => section.EvaluatedParameters.Count)</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><b>Итого баллов по разделу</b></td>
                <td style="vertical-align:middle;">@Html.DisplayFor(x => section.Grade)</td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-7">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="row" colspan="2" class="text-center">Оценка %</th>
                </tr>
                <tr>
                    <th align="center">Раздел</th>
                    <th align="center">Значение</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var section in Model.EvaluatedSections)
                {
                    var sCalcEval = 0.0;
                    if (section.MaxGrade != 0)
                    {
                        sCalcEval = (double)section.Grade / section.MaxGrade;
                    }
                    avgScore += sCalcEval;
                    sCalcEval = Math.Round(sCalcEval * 100, 2);
                    sectionsScore.Add(new SectionScore() { Name = section.Section.Name, OldScore = 0, NewScore = sCalcEval });
                    <tr>
                        <td>@Html.DisplayFor(x => section.Section.Name)</td>
                        <td>@Html.DisplayFor(x => sCalcEval)</td>
                    </tr>
                }
                <tr>
                    <td>Средняя оценка по цеху</td>
                    <td>@Math.Round(avgScore * 100, 2);</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <canvas id="radarChart"></canvas>
    </div>
</div>
<script>
    //Convert C# model to JS
    var labels = [];
    var datasets = [];
    Initialize(@Html.Raw(Json.Encode(sectionsScore)));

    //Define data and options
    var data = {
        labels: labels,
        datasets: [{
            data: datasets
                  }]
    }
    var options = {
        legend: {
            display: false
        },
        scale: {
            display: true
        },
        layout: {
            padding: {
                left: 20,
                right: 0,
                top: 0,
                bottom: 0
            }
        }
    };

    //Initialize chart
    var ctx = document.getElementById("radarChart");
    var radarChart = new Chart(ctx, {
        type: 'radar',
        data: data,
        options: options
    });

    //Initialize data from JSON to JS object
    function Initialize(model) {
        for (var i = 0; i < model.length; i++) {
            labels.push(model[i].Name);
            datasets.push(model[i].NewScore);
        }
    }
</script>