﻿@model Audits.Models.Database_Manager.Audit

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Раздел</th>
            <th>№</th>
            <th>Параметры проверки</th>
            <th>Текущая оценка</th>
            <th>Новая оценка</th>
            <th>План мероприятий</th>
        </tr>
    </thead>
    <tbody id="paramsTable">
        @foreach (var section in Model.EvaluatedSections)
            {
                int paramsCount = section.EvaluatedParameters.Count() + 3;
            <tr>
                <th scope="col" rowspan="@Html.DisplayTextFor(x => paramsCount)" id="@Html.Raw(section.SectionID)">@Html.DisplayTextFor(x => section.Section.Name)</th>
            </tr>
            foreach (var parameter in section.EvaluatedParameters)
            {
                <tr>
                    <td style="vertical-align:middle;" >@Html.Raw(parameter.Parameter.OrdinalNumber)</td>
                    <td style="vertical-align:middle;" >@Html.Raw(parameter.Parameter.Name)</td>
                    <td style="vertical-align:middle;" >@Html.Raw(parameter.Value)</td>
                    <td style="vertical-align:middle;" ><input id="@Html.Raw(section.SectionID)_@Html.Raw(parameter.ParameterID)_@Html.Raw(parameter.Value)" class="valaudit-value form-control" type="number" min="0" max="@Html.Raw(parameter.Parameter.MaxValue)" required/></td>
                    <td style="vertical-align:middle;" ><input id="@Html.Raw(section.SectionID)_@Html.Raw(parameter.ParameterID)" class="valaudit-value form-control" type="text" value="@Html.Raw(parameter.Actions)" /></td>
                </tr>
            }
            <tr>
                <td colspan="2" align="center"><b>Оцениваемых пунктов</b></td>
                <td style="vertical-align:middle;" >@Html.DisplayFor(x => section.EvaluatedParameters.Count)</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><b>Итого баллов по разделу</b></td>
                <td style="vertical-align:middle;" >@Html.DisplayFor(x => section.Grade)</td>
            </tr>
        }
    </tbody>
</table>