﻿@model Audits.Models.Database_Manager.Audit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Audit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEditable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEditable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auditor.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auditor.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subdivision.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subdivision.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checklist.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checklist.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimetableRecord.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimetableRecord.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidatedAudit.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidatedAudit.ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
