﻿@model Audits.Models.Database_Manager.Audit

@{
    ViewBag.Title = "Детальные сведения";

    bool isProvenByKRPS = false;
    bool isProvenByTrusted = false;

    if (Model.ValidatedAudit != null && Model.ValidatedAudit.ValidatedAudit != null)
    {
        isProvenByKRPS = true;
    }
    else if (Model.ValidatedAudit != null)
    {
        isProvenByTrusted = true;
    }
}
<div>
    @if (isProvenByKRPS)
    {
        <div class="panel panel-default panel-success">
            <div class="panel-heading"> Аудит подтвержден доверенным аудитором <b>КРПС</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Доверенный аудитор</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.DisplayTextFor(model => model.ValidatedAudit.ValidatedAudit.Auditor.LastName)
                                @Html.DisplayTextFor(model => model.ValidatedAudit.ValidatedAudit.Auditor.FirstName)
                                @Html.DisplayTextFor(model => model.ValidatedAudit.ValidatedAudit.Auditor.Patronymic)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Сопровождающие</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.DisplayTextFor(model => model.ValidatedAudit.ValidatedAudit.Attendees)
                                @Html.Raw("&nbsp;")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Дата ввода</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.Raw(Model.ValidatedAudit.ValidatedAudit.InputDate.ToString("yyyy-MM-dd"))
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Дата подтверждения</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.Raw(Model.ValidatedAudit.ValidatedAudit.Date.ToString("yyyy-MM-dd"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (isProvenByTrusted)
    {
        <div class="panel panel-default panel-success">
            <div class="panel-heading">Аудит подтвержден доверенным аудитором</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Доверенный аудитор</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.DisplayTextFor(model => model.ValidatedAudit.Auditor.LastName)
                                @Html.DisplayTextFor(model => model.ValidatedAudit.Auditor.FirstName)
                                @Html.DisplayTextFor(model => model.ValidatedAudit.Auditor.Patronymic)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Сопровождающие</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.DisplayTextFor(model => model.ValidatedAudit.Attendees)
                                @Html.Raw("&nbsp;")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Дата ввода</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.Raw(Model.ValidatedAudit.InputDate.ToString("yyyy-MM-dd"))
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Дата подтверждения</label>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.Raw(Model.ValidatedAudit.Date.ToString("yyyy-MM-dd"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <label>Название аудита</label>
            <div class="panel panel-default">
                <div class="panel-body">@Html.DisplayFor(model => model.Checklist.Name)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Сопровождающие</label>
            <div class="panel panel-default">
                <div class="panel-body">@Html.DisplayFor(model => model.Attendees) @Html.Raw("&nbsp;")</div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Подразделение</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.Subdivision.Name)
                    (@{
                        Html.DisplayTextFor(model => model.Subdivision.Head.LastName);
                        Html.DisplayTextFor(model => model.Subdivision.Head.FirstName);
                        Html.DisplayTextFor(model => model.Subdivision.Head.Patronymic);
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Аудитор</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayTextFor(model => model.Auditor.LastName)
                    @Html.DisplayTextFor(model => model.Auditor.FirstName)
                    @Html.DisplayTextFor(model => model.Auditor.Patronymic)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label>Дата ввода</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(Model.InputDate.ToString("yyyy-MM-dd"))
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label>Дата проведения</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(Model.Date.ToString("yyyy-MM-dd"))
                </div>
            </div>
        </div>
    </div>
    <div>
        @{ Html.RenderPartial("_CheckListDetails"); }
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Назад к списку", "Index", "Audits", new { @class = "btn btn-default" })
            @Html.ActionLink("Экспорт аудита", "Export", "Audits", new { id = Model.ID, mode = true }, new { @class = "btn btn-default" })
            @Html.ActionLink("Экспорт плана мероприятий", "Export", "Audits", new { id = Model.ID, mode = false }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-6">
            @{
                if (!isProvenByKRPS)
                {
                    @Html.ActionLink("Подтвердить аудит", "Validate", "Audits", new { id = Model.ID }, new { @class = "btn btn-warning pull-right", @style = "margin-left: 10px;" })
                    @Html.ActionLink("Редактировать", "Edit", "Audits", new { id = Model.ID }, new { @class = "btn btn-default pull-right", @style = "margin-left: 10px;" })
                }
            }
        </div>
    </div>
</div>
<p>
</p>