﻿@model Audits.Models.Database_Manager.Audit

@{
    ViewBag.Title = "Редактировать аудит";
    ViewBag.Action = "Edit";
}

<div class="pst-relative">
    <h2>@ViewBag.Title</h2>
    <a class="txal-right dsp-block pst-absolute r-0 t-xxsm btn btn-default" href="@Url.Action("Index", "Audits")">&laquo; Назад</a>
</div>
<hr />

@Html.Partial("_AuditForm", Model)
