﻿@model Audits.Models.Audits.AuditsService

@{
    ViewBag.Title = "Список аудитов";
    var currRouteValues = new RouteValueDictionary(Url.RequestContext.RouteData.Values);
    var queryString = Request.QueryString;
    // append query values "?key1=val&key2=val" to global routes dict
    foreach (var key in queryString.AllKeys)
    {
        currRouteValues.Add(key, queryString[key]);
    }
}
<style>
    ._delete-reset {
        background: none;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @* Control panel *@
    <div class="pdd-t-xsm pdd-b-def">
        <div class="btn-group">
            <button type="submit" id="ctl_edit" name="action_edit" class="btn btn-primary disabled">Редактировать</button>
            <button type="submit" id="ctl_delete" name="action_delete" class="btn btn-primary disabled">Удалить</button>
        </div>
        <div class="btn-group">
            <a href="@Url.Action("Create")" class="btn btn-success" role="button">Создать</a>
        </div>
        @if (currRouteValues.ContainsKey("sort"))
        {
            var nosortRV = new RouteValueDictionary(currRouteValues);
            nosortRV["sort"] = "";
            <div class="btn-group mrg-l-xxsm">
                <a href="@Url.Action("Index", nosortRV)" class="btn btn-default" role="button">Очистить фильтр&nbsp;<span class="glyphicon glyphicon-remove" style="top:3px;"></span></a>
            </div>
        }
    </div>

    @* Control panel logic *@
    <script>
    window.onload = function () {
        $('#auditsTable').click(function () {
            var check = $(this).find('input[type="checkbox"]:checked').length;
            // enable edit/conduct buttons only if one entity selected
            if (check == 1) {
                if ($("#ctl_edit").hasClass("disabled")) {
                    $("#ctl_edit").removeClass('disabled');
                }
            } else {
                $("#ctl_edit").addClass('disabled');
            }

            // enable delete button when entities > 0
            if (check > 0) {
                if ($("#ctl_delete").hasClass("disabled"))
                    $("#ctl_delete").removeClass('disabled');
            } else {
                $("#ctl_delete").addClass('disabled');
            }
        });
    }
    </script>
    // each sort type has its own RouteValue (to prevent mess)
    var idRV = new RouteValueDictionary(currRouteValues);
    var dateRV = new RouteValueDictionary(currRouteValues);
    var cnameRV = new RouteValueDictionary(currRouteValues);
    var divRV = new RouteValueDictionary(currRouteValues);
    var fnameRV = new RouteValueDictionary(currRouteValues);
    var lnameRV = new RouteValueDictionary(currRouteValues);
    var pnameRV = new RouteValueDictionary(currRouteValues);
    var validRV = new RouteValueDictionary(currRouteValues);
    // init arrows
    string idArr = "", dateArr = "", cnameArr = "", divArr = "", fnameArr = "", lnameArr = "", pnameArr = "", validArr = "";
    // reset arrow string
    if (currRouteValues.ContainsKey("sort"))
    {
        // reset visual arrows
        idArr = dateArr = cnameArr = divArr = fnameArr = lnameArr = pnameArr = validArr = "";
    }
    // set default sort query vals
    idRV["sort"] = "id";
    dateRV["sort"] = "date";
    cnameRV["sort"] = "cname";
    divRV["sort"] = "div";
    fnameRV["sort"] = "fname";
    lnameRV["sort"] = "lname";
    pnameRV["sort"] = "pname";
    validRV["sort"] = "valid";
    // toogle query link and arrow direction based on sort=<value>
    switch (queryString["sort"])
    {
        // id
        case "id":
            idRV["sort"] = "id_desc";
            idArr = "&darr;";
            break;
        case "id_desc":
            idArr = "&uarr;";
            break;

        // date
        case "date":
            dateRV["sort"] = "date_desc";
            dateArr = "&darr;";
            break;
        case "date_desc":
            dateArr = "&uarr;";
            break;

        // audit/checkList name
        case "cname":
            cnameRV["sort"] = "cname_desc";
            cnameArr = "&darr;";
            break;
        case "cname_desc":
            cnameArr = "&uarr;";
            break;

        // division
        case "div":
            divRV["sort"] = "div_desc";
            divArr = "&darr;";
            break;
        case "div_desc":
            divArr = "&uarr;";
            break;

        // division
        case "valid":
            validRV["sort"] = "valid_desc";
            validArr = "&darr;";
            break;
        case "valid_desc":
            validArr = "&uarr;";
            break;

        // ФИО
        case "fname":
            fnameRV["sort"] = "fname_desc";
            fnameArr = "&darr;";
            break;
        case "fname_desc":
            fnameArr = "&uarr;";
            break;

        case "lname":
            lnameRV["sort"] = "lname_desc";
            lnameArr = "&darr;";
            break;
        case "lname_desc":
            lnameArr = "&uarr;";
            break;

        case "pname":
            pnameRV["sort"] = "pname_desc";
            pnameArr = "&darr;";
            break;
        case "pname_desc":
            pnameArr = "&uarr;";
            break;
    }

    @* Audits table *@
    <style>
        ._arr i {
            top:-1px;
            position: relative;
        }
    </style>
    <table class="table" id="auditsTable">
        <tr class="_arr">
            <th>
                <a href="@Url.Action("Index", idRV)">ID&nbsp;<i>@Html.Raw(idArr)</i></a>
            </th>
            <th>
                <a href="@Url.Action("Index", cnameRV)">Название&nbsp;<i>@Html.Raw(cnameArr)</i></a>
            </th>
            <th>
                <a href="@Url.Action("Index", divRV)">Подразделение&nbsp;<i>@Html.Raw(divArr)</i></a>
            </th>
            <th>
                <a href="@Url.Action("Index", dateRV)">Дата ввода&nbsp;<i>@Html.Raw(dateArr)</i></a>
            </th>
            <th  style="white-space: nowrap">
                <a href="@Url.Action("Index", fnameRV)">Ответственнный</a>
                [<a href="@Url.Action("Index", fnameRV)">Ф<i>@Html.Raw(fnameArr)</i></a><!--
                --><a href="@Url.Action("Index", lnameRV)">И<i>@Html.Raw(lnameArr)</i></a><!--
                --><a href="@Url.Action("Index", pnameRV)">О<i>@Html.Raw(pnameArr)</i></a>]
            </th>
            <th>
                <a href="@Url.Action("Index", validRV)">Завершен?&nbsp;<i>@Html.Raw(validArr)</i></a>
            </th>
            <th>
                Действие
            </th>
        </tr>
    @foreach (var item in Model.Model)
    {
        bool valid = Model.ValidatedAudits.Contains(item.ID) ? true : false;
        var onclick = "window.document.location = '" + Url.Action("Details", new { id = item.ID }) + "';";
            <tr class="crs-pointer trn-all bgcl-gr40--hover">
                <td onclick="@Html.Raw(onclick)">
                    @Html.DisplayFor(_ => item.ID)
                </td>
                <td onclick="@Html.Raw(onclick)">
                    @Html.DisplayFor(_ => item.Checklist.Name)
                </td>
                <td onclick="@Html.Raw(onclick)">
                    @Html.DisplayFor(_ => item.Subdivision.Name)
                </td>
                <td onclick="@Html.Raw(onclick)">
                    @item.InputDate.ToString("yyyy-MM-dd") @*HH:mm*@
                </td>
                <td onclick="@Html.Raw(onclick)">
                    @Html.DisplayTextFor(_ => item.Auditor.LastName)
                    @Html.DisplayTextFor(_ => item.Auditor.FirstName)
                    @Html.DisplayTextFor(_ => item.Auditor.Patronymic)
                </td>

                <td onclick="@Html.Raw(onclick)">
                    @(valid ? "Да" : "Нет")
                </td>
                <td class="crs-default">
                    @if (!valid)
                    {
                        @* Checkbox | Edit | Remove quick actions*@
                        <input type="checkbox" name="@item.ID" /> 
                        <a class="pst-relative c-gr50 c-inh--hover" style="top:-1px;" href="@Url.Action("Edit", new { id=item.ID })"><span class="glyphicon glyphicon-pencil"></span></a>
                        <button type="submit" name="delete_@(item.ID)" class="_delete-reset pst-relative c-rd50 c-inh--hover opc-lg opc-1--hover" style="top:-1px;" href="@Url.Action("Delete", new { id=item.ID })"><span class="glyphicon glyphicon-remove"></span></button>
                    }
                </td>
            </tr>
        }
    </table>
}

@* Pagination stats *@
<p class="c-gr50">Страница: @Model.CurrPage из @Model.TotalPages. Всего записей: @Model.TotalEntities. На странице показано: @Model.PageSize.</p>
<ul class="pagination">
    @{
        var shift = ((Model.PaginationRange - 1) * Model.PagesInRange) + 1;
    }
    @* Print [<<] with appropriate link *@
    @if (Model.PaginationRange > 1)
    {
        currRouteValues["id"] = Model.CurrPage;
        currRouteValues["range"] = Model.PaginationRange - 1;
        <li><a href="@Url.Action("Index", currRouteValues)">&laquo;</a></li>
    }
    @* Print [1], [2], etc links *@
    @for (int i = shift; i < (shift + Model.PagesInRange) && i <= Model.TotalPages; i++)
    {
        currRouteValues["id"] = i;
        currRouteValues["range"] = Model.PaginationRange;
        <li class="@(Model.CurrPage == i ? "active" : "")">@Html.ActionLink(i.ToString(), "Index", currRouteValues)</li>
    }
    @* Print "..." if there are pages out of current Range at the left *@
    @if ((shift + Model.PagesInRange) <= Model.TotalPages)
    {
        currRouteValues["id"] = Model.CurrPage;
        currRouteValues["range"] = Model.PaginationRange + 1;
        @* Print [>>] with appropriate link *@
        <li><a href="@Url.Action("Index", currRouteValues)">&raquo;</a></li>
    }
</ul>
