﻿@model Audits.Models.Database_Manager.Audit

@Styles.Render("~/Content/styles/flatpickr.min.css")
@Scripts.Render("~/Scripts/flatpickr.js")
@Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
@Scripts.Render("~/Scripts/validator.min.js")

@{
    ViewBag.Title = "Подтверждение аудита";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <label>Название аудита</label>
            <div class="panel panel-default">
                <div class="panel-body">@Html.DisplayFor(model => model.Checklist.Name)</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Сопровождающие</label>
            <div class="panel panel-default">
                <div class="panel-body" style="padding:0; height: 50.8px;">
                    <div class="form-group" id="iAttendees">
                        <input class="form-control"
                               type="text"
                               placeholder="Введите Ф.И.О."
                               style="border:0; height:50.8px; min-width:100%; width:495px;"
                               value="@Html.Raw(Model.Attendees)">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Подразделение</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.Subdivision.Name)
                    (@{
                        Html.DisplayTextFor(model => model.Subdivision.Head.LastName);
                        Html.DisplayTextFor(model => model.Subdivision.Head.FirstName);
                        Html.DisplayTextFor(model => model.Subdivision.Head.Patronymic);
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Проводивший Аудитор</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.DisplayTextFor(model => model.Auditor.LastName)
                    @Html.DisplayTextFor(model => model.Auditor.FirstName)
                    @Html.DisplayTextFor(model => model.Auditor.Patronymic)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label>Дата ввода</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(Model.InputDate.Date.ToString("yyyy-MM-dd"))
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label>Дата подтверждения</label>
            <div class="panel panel-default">
                <div class="panel-body" style="padding:0; height: 50.8px;">
                    <div class="input-group" id="inputDate">
                        <input class="form-control" type="text" placeholder="Выберите дату" style="border:0; height:50.8px;" data-input>
                        <div class="input-group-addon" style="border:0; height:100%;" data-clear><span class="glyphicon glyphicon-remove"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        @{ Html.RenderPartial("_CheckListValidate"); }
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Назад", "Details", "Audits", new { id = Model.ID }, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-default pull-right" style="margin-left: 10px;" onclick="sendData()">Сохранить изменения</button>
        </div>
    </div>
</div>
<p>
</p>
<script>

    //Calendar initalize
    flatpickr("#inputDate", {
        time_24hr: true,
        allowInput: true,
        wrap: true,
        defaultDate: "today"
    });

    //Validation of form field!
    function validateForm(val, acts) {
        if (val != null && acts != null) {
            return true;
        }
        alert("Не все поля заполнены!");
        return false;
    }

    //Model to store paramteres sending to JSON
    function validatedParams(secID, parID, actval, val, acts) {
        this.sectionID = secID;
        this.parameterID = parID;
        this.previousValue = actval
        this.actualValue = val;
        this.actions = acts;
    }
    // get new values of filled form inputs (parameter, values, actions)
    function getValues() {
        var data = [];
        var mtable = document.getElementsByClassName('valaudit-value');
        for (i = 0; i < mtable.length; i++) {
            var params = mtable[i].id.split('_');
            if (params.length == 3) {
                data.push(new validatedParams(
                    params[0],
                    params[1],
                    params[2],
                    mtable[i].value,
                    ''
                ));
            } else if (params.length == 2) {
                for (var j = 0; j < data.length; j++) {
                    if ((data[j]['sectionID'] == params[0]) && (data[j]['parameterID'] == params[1])) {
                        data[j].actions = mtable[i].value.toString();
                    }
                }
            }
        }
        return data;
    }

    // chack attendees for proper format
    function testAttendeesFormat() {
        var attendees = document.getElementById('iAttendees').getElementsByTagName('input')[0].value;
        var re = /^[А-ЯЁ][а-яё]+ [А-ЯЁ][.][А-ЯЁ][.] \([А-ЯЁа-яёA-Za-z]+( [А-ЯЁа-яёA-Za-z]+)*\)([,][А-ЯЁ][а-яё]+ [А-ЯЁ][.][А-ЯЁ][.] \([А-ЯЁа-яёA-Za-z]+( [А-ЯЁа-яёA-Za-z]+)*\))*$/;
        var OK = attendees.match(re);
        if (!OK && attendees.length > 0) {
            window.alert("Неверный формат. Пример: \"Фамилия И.О. (Роль)\", добавляя новых через запятую.");
            return null;
        }
        return attendees;
    }

    //prepare JSON string with validation data, and parameter values
    function getJSON() {
        var attendees = testAttendeesFormat()
        if (attendees != null) {
            var vDate = document.getElementById('inputDate').getElementsByTagName('input')[0].value;
            var result = JSON.stringify({ Attendees: attendees, DateTime: vDate, EvaluatedValues: getValues() });
            return result;
        }
        return null;
    }

    function sendData() {
        var result = getJSON();
        if (result != null) {
            $.ajax({
                type: 'POST',
                dataType: 'text',
                url: "",
                data: "response=" + result,
                success: function (response) {
                    alert("Аудит успешно подтвержден!");
                    var obj = JSON.parse(response);
                    window.location = obj['url'];
                },
                error: function (xhr, status, error) {
                    alert("Произошла ошибка подтверждения. Проверьте, все ли поля заполнены?");
                },

                processData: false,
                async: false
            });
        }
    }

</script>