﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Возникла ошибка при обработке запроса.</h2>
<p class="text-danger">@ViewData["Message"]</p>