﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Доступ запрещён</h1>
<p>У Вас нет доступа к данной информации. Свяжитесь с администратором системы.</p>
<p>Ваш AD ID @ViewData["ADID"]</p>