﻿@model TimetableRecord

@{
    ViewBag.Title = "Создать запись расписания";
}

<h2>Создать запись расписания</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Date, "Дата проведения", new {@class = "control-label col-md-2"})
            <div class="col-md-10 ">
                <div class="input-group" id="inputDate">
                    @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}",
                        new Dictionary<string, object> {{"class", "form-control"}, {"placeholder", "Выберите дату"}, {"data-input", null}})
                    @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
                    <div class="input-group-addon" data-clear>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChecklistID, "Чек-лист", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("ChecklistID", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ChecklistID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubdivisionID, "Подразделение", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("SubdivisionID", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.SubdivisionID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К расписанию", "Index")
</div>
@section styles {
    @Styles.Render("~/Content/styles/flatpickr.min.css")
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/flatpickr.js")
    @Scripts.Render("~/Scripts/flatpickr_ru.js")
    <script>
        $(function() {
            //Calendar initalize
            flatpickr("#inputDate",
                {
                    enableTime: false,
                    allowInput: true,
                    locale: 'ru',
                    minDate: 'today',
                    wrap: true,
                    defaultDate: 'today'
                });
        });
    </script>
}