﻿@model TimetableRecord

@{
    ViewBag.Title = "Удалить запись расписания";
}

<h2>Вы уверены, что хотите удалить запись расписания?</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Дата проведения</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd >

        <dt>Чек-лист</dt>
        <dd>@Html.DisplayFor(model => model.Checklist.Name)</dd>

        <dt>Подразделение</dt>
        @if (string.IsNullOrEmpty(Model.Subdivision.SAP_ID))
        {
            <dd>@Html.DisplayFor(model => model.Subdivision.Name)</dd>
        }
        else
        {
            <dd>@Html.DisplayFor(model => model.Subdivision.SAP_ID) : @Html.DisplayFor(model => model.Subdivision.Name)</dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default"/> |
            @Html.ActionLink("К расписанию", "Index")
        </div>
    }
</div>