﻿@model TimetableRecord

@{
    ViewBag.Title = "Подробности записи расписания";
}

<h2>Подробности записи расписания</h2>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Дата проведения</dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>Чек-лист</dt>
        <dd>
            @Html.DisplayFor(model => model.Checklist.Name)
        </dd>

        <dt>Подразделение</dt>
        <dd>
            @Html.DisplayFor(model => model.Subdivision.Name)
        </dd>
    </dl>
    @if (Model.Audit.Any())
    {
        <h4>Проведённый аудит:</h4>
        foreach (var item in Model.Audit)
        {
            <dl class="dl-horizontal">
                <dt>Дата проведения</dt>
                <dd>
                    @Html.DisplayFor(x => item.Date)
                </dd>
                <dt>Аудитор</dt>
                <dd>
                    @Html.DisplayFor(x => item.Auditor.LastName)
                    @Html.DisplayFor(x => item.Auditor.FirstName)
                    @Html.DisplayFor(x => item.Auditor.Patronymic)
                </dd>
                <dt>Сопровождающие</dt>
                <dd>
                    @Html.DisplayFor(x => item.Attendees)
                </dd>
                <dt></dt>
                <dd>
                    <a href="@Url.Action("Create", "Audits")">Перейти</a>
                </dd>
            </dl>
        }
    }
    else
    {
        <p>Нет проведённых аудитов.</p>
    }
</div>
<p>
    <a class="btn btn-default" href="@Url.Action("CreateFromTimetable", "Audits", new { checklistId = Model.ChecklistID, subdivisionID = Model.SubdivisionID, dateStr = Model.Date.ToString("yyyy-MM-dd") })">Провести &raquo;</a> |
    @Html.ActionLink("Редактировать", "Edit", new {id = Model.ID}) |
    @Html.ActionLink("К расписанию", "Index")
</p>
@section styles {
    @Styles.Render("~/Content/monthly.css")
}