﻿@model IEnumerable<TimetableRecord>
@{
    ViewBag.Title = "Расписание Аудитов";
}
<h2>Расписание</h2>
<hr/>
<div class="row">
    <div class="col-lg-offset-3 col-md-6" id="mycalendar"></div>
</div>

<div class="row">
    @using (Ajax.BeginForm("Details", null,
        new AjaxOptions
        {
            HttpMethod = "get",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = "partial-timetable"
        }, new {method = "GET", style = "display: none;"}))
    {
        <input type="hidden" id="year" name="year" value=""/>
        <input type="hidden" id="month" name="month" value=""/>
        <input type="hidden" id="day" name="day" value=""/>
        <input id="btn-submit" type="submit"/>
    }
</div>

<hr />
<h4>Перечень аудитов:</h4>
@Html.Partial("PartialViews/ListOfScheduledAudits", Model)
@section styles {
    @Styles.Render("~/Content/monthly.css")
}
@section scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/monthly.js")
    <script type="text/javascript">
        var dayValues = [];

        function loadDayValues(year, month) {
            $.get('@Url.Action("GetDayValues")/?year=' + year + '&month=' + month,
                function (data) {
                    dayValues = data;
                    setDayValues(year, month);
                });
        }

        function setDayValues(year, month) {
            for (var i = 0; i < dayValues.length; ++i) {
                if (dayValues[i]) {
                    var date = new Date(year, month - 1, i);
                    changeCellColor(date, '#C1A2E3');
                }
            }
        }

        function changeCellColor(date, color) {
            var classSelector = '.dt' +
                ('0' + date.getFullYear()).slice(-4) +
                '-' +
                ('0' + (date.getMonth() + 1)).slice(-2) +
                '-' +
                ('0' + date.getDate()).slice(-2);
            var cell = $(classSelector);
            cell.css('background-color', color);
        }

        $(function() {
            $('#mycalendar').monthly({
                weekStart: 'Mon',
                mode: 'event',
                dataType: 'json',
                eventList: 'true',
                onSetNextMonth: function () {
                    console.log('next');
                    var month = $('#mycalendar').data("setMonth");
                    var year = $('#mycalendar').data("setYear");
                    $('#day').val(null);
                    $('#btn-submit').click();
                    loadDayValues(year, month);
                },
                onSetPrevMonth: function () {
                    console.log('prev');
                    var month = $('#mycalendar').data("setMonth");
                    var year = $('#mycalendar').data("setYear");
                    $('#day').val(null);
                    $('#btn-submit').click();
                    loadDayValues(year, month);
                }
            });
            // Detach default click handler
            $(document.body).off('click touchstart', '#mycalendar .monthly-day', null);
            // Attach our own click handler
            $(document.body).on('click touchstart',
                '#mycalendar .monthly-day',
                function() {
                    var day = $(this).data("number");
                    var month = $('#mycalendar').data("setMonth");
                    var year = $('#mycalendar').data("setYear");

                    var date = new Date(year, month - 1, day);
                    date.setDate(date.getDate() - 1);

                    $('.monthly-day').css('background-color', '#FFFFFF');
                    setDayValues(year, month);
                    changeCellColor(date, '#A1C2E3');

                    $('#day').val(day);
                    $('#month').val(month);
                    $('#year').val(year);

                    $('#btn-submit').click();
                });

            var dateToday = new Date();
            loadDayValues(dateToday.getFullYear(), dateToday.getMonth() + 1);
        });
    </script>
}