﻿@model IEnumerable<TimetableRecord>
<div id="partial-timetable">
    <p>
        @if (ViewBag.CanWriteTimetable)
        {
            @Html.ActionLink("Добавить", "Create")
        }
    </p>
    <table id="timetable-records" class="table table-hover table-striped table-bordered">
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th class="col-md-5">Чек-лист</th>
            <th class="col-md-5">Подразделение</th>
            <th class="col-md-1"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <a class="checklist-view" href="@Url.Action("View", "Checklists", new {id = item.ChecklistID})" title="Просмотр">@Html.DisplayFor(modelItem => item.Checklist.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subdivision.Name)
                </td>
                <td>
                    <a class="pst-relative c-gr50 c-inh--hover" style="top: -1px;" href="@Url.Action("TimetableRecordDetails", new {id = item.ID})">
                        <span class="glyphicon glyphicon-list-alt"> </span>
                    </a>
                    @if (ViewBag.CanWriteTimetable)
                    {
                        <a class="pst-relative c-gr50 c-inh--hover" style="top: -1px;" href="@Url.Action("Edit", new {id = item.ID})">
                            <span class="glyphicon glyphicon-pencil"> </span>
                        </a>
                        <a class="pst-relative c-gr50 c-inh--hover" style="top: -1px;" href="@Url.Action("Delete", new {id = item.ID})">
                            <span class="glyphicon glyphicon-remove"> </span>
                        </a>
                    }
                </td>
            </tr>
        }

    </table>
</div>