﻿@model Audits.Models.Database_Manager.Employee

@{
    ViewBag.Title = "Добавить пользователя";
}

<h2>Добавить пользователя</h2>
<hr />
<div class="row">

    <div class="col-md-9">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal col-md-12">
         
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                <label class="control-label col-md-3">Фамилия</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Имя</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Отчество</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Patronymic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Patronymic, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Номер подразделения</label>
                <div class="col-md-9">
                    @Html.DropDownList("SubdivisionID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubdivisionID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">ID штатной должности</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EstablishedPositionID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EstablishedPositionID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Роль</label>
                <div class="col-md-9">
                    @{
                        @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Штатная должность</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.EstablishedPosition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EstablishedPosition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Фактическая должность</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ActualPosition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActualPosition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Электронная почта</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Телефон</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Личный номер</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PersonnelNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonnelNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Partial("PartialViews/ADTextEditorView",Model)

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

        </div>   
 </div>
<div class="row">
    <div class="col-md-1"></div>
   <div class="well col-md-11">
       <h4>
           Поиск учетной записи на сервере ActiveDirectory
       </h4>
       <div class="col-md-12">
           <div class="seach_form">
               @using (Ajax.BeginForm(
         "Create",
         null,
         new AjaxOptions
         {
             HttpMethod = "get",
             InsertionMode = InsertionMode.ReplaceWith,
             UpdateTargetId = "ad_id_search_table"
         },
         new { @method = "get" }))
               {
                   <div class="form-group col-md-11">
                       <input type="search" name="searchTag" class="form-control" />
                   </div>
                   <input type="submit" value="Поиск" class="btn btn-default" />
               }
               @{
                   Html.RenderPartial("PartialViews/ActiveDirectorySearchTableView", new List<Audits.Models.EmployeesManager.ActiveDirectoryRecord>(), null);
               }
           </div>
       </div>

   </div>
</div>


<div>
    @Html.ActionLink("Вернуться на главную", "Index")
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

