﻿@model Employee

@{
    ViewBag.Title = "Удалить пользователя";
}

<h2>Вы уверены, что хотите удалить пользователя?</h2>
<h4>@Html.DisplayFor(i => i.LastName) @Html.DisplayFor(i => i.FirstName) @Html.DisplayFor(i => i.Patronymic)</h4>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishedPositionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedPositionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishedPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonnelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AD_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AD_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subdivision.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subdivision.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default"/> |
            @Html.ActionLink("Вернуться на главную", "Index")
        </div>
    }
</div>