﻿@model Audits.Models.Database_Manager.Employee

@{
    ViewBag.Title = "Подробная информация";
}

<h2>Подробная информация</h2>

<div>
    <h4>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.Patronymic)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            ID штатной должности
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedPositionID)
        </dd>

        <dt>
            Штатная должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedPosition)
        </dd>

        <dt>
            Фактическая должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPosition)
        </dd>

        <dt>
            Электронная почта
        </dt>

        <dd>
            <a href="malito:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
        </dd>

        <dt>
           Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Индивидуальный номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelNumber)
        </dd>

        <dt>
            Номер ActiveDirectory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AD_ID)
        </dd>

        <dt>
            Наименование подразделения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subdivision.Name)
        </dd>
        <dt>
            Роль
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.ToArray().FirstOrDefault().Name)
        </dd>
        

    </dl>
</div>
<p>
    @if (ViewData["EditUsers"] != null && ViewData["EditUsers"].Equals("No"))
    {
        @Html.ActionLink("Вернуться", "Index");
    }else{
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID });
        <span> | </span>
        @Html.ActionLink("Вернуться", "Index");
    }
</p>
