﻿@using Audits.Models.EmployeesManager
@model Employee

@{
    ViewBag.Title = "Редактировать пользователя";
}

<h2>Редактировать пользователя</h2>
<h4>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.Patronymic)</h4>

<hr/>
<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    <label class="control-label col-md-3">Фамилия</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Имя</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Отчество</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Patronymic, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Patronymic, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Номер подразделения</label>
                    <div class="col-md-9">
                        @Html.DropDownList("SubdivisionID", null, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.SubdivisionID, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Роль</label>
                    <div class="col-md-9">
                        @{
                            @Html.DropDownList("Role", null, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Role, "", new {@class = "text-danger"})
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">ID штатной должности</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.EstablishedPositionID, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.EstablishedPositionID, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Штатная должность</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.EstablishedPosition, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.EstablishedPosition, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Фактическая должность</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ActualPosition, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ActualPosition, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Электронная почта</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Телефон</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Личный номер</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PersonnelNumber, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.PersonnelNumber, "", new {@class = "text-danger"})
                    </div>
                </div>

                @Html.Partial("PartialViews/ADTextEditorView", Model)

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Сохранить" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="well col-md-11">
        <h4>
            Поиск учетной записи на сервере ActiveDirectory
        </h4>
        <div class="col-md-12">
            <div class="seach_form">
                @using (Ajax.BeginForm(
            "Edit",
            null,
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.ReplaceWith,
                UpdateTargetId = "ad_id_search_table"
            },
            new { method = "GET" }))
                {
                    <div class="form-group col-md-11">
                        <input type="search" name="searchTag" class="form-control" />
                    </div>
                    <input type="submit" value="Поиск" class="btn btn-default" />
                }
                @{
                    Html.RenderPartial("PartialViews/ActiveDirectorySearchTableView", new List<ActiveDirectoryRecord>(), null);
                }
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
}