﻿@model IPagedList<Employee>
@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>
@if (ViewData["EditUsers"] == null || !ViewData["EditUsers"].Equals("No"))
{
    <p>
        @Html.ActionLink("Добавить пользователя", "Create")
    </p>
}

<hr/>
<div class="container">
    <div class="row">
        @using (Ajax.BeginForm("Index", null,
            new AjaxOptions
            {
                HttpMethod = "get",
                InsertionMode = InsertionMode.ReplaceWith,
                UpdateTargetId = "table_employees"
            }, new {method = "GET"}))
        {
            <div class="col-md-5 form-group">
                <input type="search" name="searchTerm" class="form-control" placeholder="Введите имя пользователя" />
            </div>
            <input type="submit" value="Поиск" class="btn btn-default"/>
        }
    </div>
</div>

@Html.Partial("PartialViews/EmployeesView", Model)

<div class="pagination-container">
    <ul class="pagination">
        <li class="PagedList-skipToPrevious">
            <a href="/Employees?page=@(Model.PageNumber - 1 >= 1 ? Model.PageNumber - 1 : 1)" rel="prev">«</a>
        </li>
        <li class="disabled PagedList-pageCountAndLocation">
            <a>Страница @(Model.Count < Model.PageNumber ? 1 : Model.PageNumber) из @Model.PageCount</a>
        </li>
        <li class="PagedList-skipToNext">
            <a href="/Employees?page=@(Model.PageNumber + 1 <= Model.PageCount ? Model.PageNumber + 1 : Model.PageCount)" rel="next">»</a>
        </li>
    </ul>
</div>