﻿@model IEnumerable<Audits.Models.EmployeesManager.ActiveDirectoryRecord>

<div id="ad_id_search_table" class="ad_search">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
        <th class="text-center">Имя</th>
        <th class="text-center">Отображаемое имя</th>
        <th class="text-center">Электронная почта</th>
        <th class="text-center">Аккаунт</th>
        <th class="text-center">Отдел</th>
        </thead>
        <tbody>
        @if (Model != null && Model.Count()!=0) 
        {
            foreach (var item in Model)
            {
                <tr >
                    <td class="text-center">
                        @Ajax.ActionLink(Html.DisplayFor(model => item.FirstName).ToString(),
                         "GetResult",
                         null,
                         new
                         {
                             item.Id,
                             item.FirstName,
                             item.DisplayName,
                             item.LastName,
                             item.Email,
                             item.samaccountname,
                             item.Department
                         },
                         new AjaxOptions
                         {
                             HttpMethod = "GET",
                             InsertionMode = InsertionMode.Replace,
                             UpdateTargetId = "sid-div"
                         })
                    </td>
                    <td class="text-center">
                        @Ajax.ActionLink(Html.DisplayFor(model => item.DisplayName).ToString(),
                         "GetResult",
                         null,
                         new
                         {
                             item.Id,
                             item.FirstName,
                             item.DisplayName,
                             item.LastName,
                             item.Email,
                             item.samaccountname,
                             item.Department
                         },
                         new AjaxOptions
                         {
                             HttpMethod = "GET",
                             InsertionMode = InsertionMode.Replace,
                             UpdateTargetId = "sid-div"
                         })
                    </td>
                    <td class="text-center">
                        @if (!string.IsNullOrEmpty(item.Email))
                        {
                            @Ajax.ActionLink(Html.DisplayFor(model => item.Email).ToString(),
                             "GetResult",
                             null,
                             new
                             {
                                 item.Id,
                                 item.FirstName,
                                 item.DisplayName,
                                 item.LastName,
                                 item.Email,
                                 item.samaccountname,
                                 item.Department
                             },
                             new AjaxOptions
                             {
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "sid-div"
                             })
                        }
                    </td>
                    <td class="text-center">
                        @Ajax.ActionLink(Html.DisplayFor(model => item.samaccountname).ToString(),
                         "GetResult",
                         null,
                         new
                         {
                             item.Id,
                             item.FirstName,
                             item.DisplayName,
                             item.LastName,
                             item.Email,
                             item.samaccountname,
                             item.Department
                         },
                         new AjaxOptions
                         {
                             HttpMethod = "GET",
                             InsertionMode = InsertionMode.Replace,
                             UpdateTargetId = "sid-div"
                         })
                    </td>
                    <td class="text-center">
                        @if (!string.IsNullOrEmpty(item.Department))
                        {
                            @Ajax.ActionLink(Html.DisplayFor(model => item.Department).ToString(),
                             "GetResult",
                             null,
                             new
                             {
                                 item.Id,
                                 item.FirstName,
                                 item.DisplayName,
                                 item.LastName,
                                 item.Email,
                                 item.samaccountname,
                                 item.Department
                             },
                             new AjaxOptions
                             {
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "sid-div"
                             })
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center">
                    Пусто
                </td>
                <td class="text-center">
                    Пусто
                </td>
                <td class="text-center">
                    Пусто
                </td>
                <td class="text-center">
                    Пусто
                </td>
                <td class="text-center">
                    Пусто
                </td>
            </tr>
            
        }
        </tbody>
    </table>
</div>