﻿@model Employee
<div class="form-group" id="sid-div">
    <label class="control-label col-md-3">Номер ActiveDirectiry</label>
    <div class="col-md-9">
        @if (ViewBag.SID == null)
        {
            @Html.EditorFor(model => model.AD_ID, new {htmlAttributes = new {@class = "form-control", id = "sid-text-editor"}})
        }
        else
        {
            @Html.EditorFor(model => model.AD_ID, new {htmlAttributes = new {@class = "form-control", id = "sid-text-editor", Value = ViewBag.SID}})
        }

        @Html.ValidationMessageFor(model => model.AD_ID, "", new {@class = "text-danger"})
    </div>
</div>