﻿@model IPagedList<Employee>
<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css"/>
<div id="table_employees" class="table_employees">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-md-3 text-center">ФИО</th>
            <th class="col-md-3 text-center">Подразделение</th>
            <th class="col-md-2 text-center">Роль</th>
            <th class="col-md-2 text-center">Фактическая должность</th>
            <th class="col-md-2 text-center"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.LastName) @Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Subdivision.Name)
                </td>
                <td>
                    @foreach (var roleItem in item.Role)
                    {
                        @Html.DisplayFor(model => roleItem.Name)
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.EstablishedPosition)
                </td>
                <td>
                    @if (ViewData["EditUsers"] != null && ViewData["EditUsers"].Equals("No"))
                    {
                        @Html.ActionLink("Подробнее", "Details", new {id = item.ID})
                    }
                    else
                    {
                        @Html.ActionLink("Редактировать", "Edit", new {id = item.ID})
                        <span> | </span>
                        @Html.ActionLink("Подробнее", "Details", new {id = item.ID})
                        <span> | </span>
                        @Html.ActionLink("Удалить", "Delete", new {id = item.ID})
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    @*
        <div class="header_employees_list ">
            <span class="col-sm-4">ФИО</span>
            <span class="col-sm-2">Подразделение</span>
            <span class="col-sm-2">Роль</span>
            <span class="col-sm-2">Фактическая должность</span>
            <span class="col-sm-2">  </span>
        </div>
        <div id="list_employees">
            @foreach (var item in Model)
            {
                <div class="raw_employees_list">
                    <span class="col-sm-4">@Html.DisplayFor(model => item.LastName)  @Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.Patronymic)</span>
                    <span class="col-sm-2">@Html.DisplayFor(model => item.Subdivision.Name)</span>
                    <span class="col-sm-2">
                        @foreach (var roleItem in item.Role)
                    {
                            @Html.DisplayFor(model => roleItem.Name)
                        }
                    </span>
                    <span class="col-sm-2">@Html.DisplayFor(model => item.EstablishedPosition)</span>
                    <span class="col-sm-2">
                        @if (ViewData["EditUsers"] != null && ViewData["EditUsers"].Equals("No"))
                        {
                            @Html.ActionLink("Подробнее", "Details", new { id = item.ID })
                        }
                        else
                        {
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID });
                            <span> | </span>
                            @Html.ActionLink("Подробнее", "Details", new { id = item.ID });
                            <span> | </span>
                            @Html.ActionLink("Удалить", "Delete", new { id = item.ID });
                        }
                    </span>
                </div>
            }
        </div>
        *@
</div>